.abs-center.wd-xl
    // START panel
    .text-center.mb-xl
        .mb-lg
            em.fa.fa-ban.fa-5x.text-muted
        .text-lg.mb-lg 403
        p.lead.m0 Forbidden!

        p You don't have permission to access this page.
        p Please try one of the following links:

    ul.list-inline.text-center.text-sm.mb-xl
        li: a.text-muted(href="", ui-sref="app.welcome") Go to App
        li.text-muted |
        li: a.text-muted(href="", ui-sref="pages.signIn") Login

    .p-lg.text-center
        img.block-center.img-responsive(src="app/img/logo-96x50.full.png", alt="Let'SwapGames" style="margin-bottom: 8px; height: 30px;")
        span &copy;
        span(ng-bind="app.year")
        span  -
        span(ng-bind="app.name")
        br
        span(ng-bind="app.description")
