.abs-center.wd-xl
    // START panel
    .text-center.mb-xl
        .mb-lg
            em.fa.fa-wrench.fa-5x.text-muted
        .text-lg.mb-lg 500
        p.lead.m0 Oh! Something went wrong :(

        p Don't worry, we're now checking this.
        p In the meantime, please try one of the following links:

    ul.list-inline.text-center.text-sm.mb-xl
        li(ng-if="user.enabled")
            a.text-muted(href="", ui-sref="app.welcome") App
        li(ng-if="!user.enabled")
            a.text-muted(href="/") Home
        li.text-muted |
        li: a.text-muted(href="", ui-sref="pages.signIn") Login

    .p-lg.text-center
        img.block-center.img-responsive(src="app/img/logo-96x50.full.png", alt="Let'SwapGames" style="margin-bottom: 8px; height: 30px;")
        span &copy;
        span(ng-bind="app.year")
        span  -
        span(ng-bind="app.name")
        br
        span(ng-bind="app.description")
