
div(style="margin-right: -22px;")
    .game-img-holder.animate(ng-repeat='item in ctrl.getItems(context)')
        img(ng-src='{{item.game.images.front_thumb_medium}}', alt='{{item.game.name}}')
        md-tooltip(md-direction="top") {{item.game.name}} ({{item.game.platform.name}})
        em.icon-close.remove-game(ng-click="ctrl.removeGameFrom(item.id, context)")
    div(style="clear: both;")

form(ng-submit="ctrl.addGameTo(context)")
    md-autocomplete(ng-disabled='ctrl.isDisabled', md-no-cache='ctrl.noCache', md-selected-item='ctrl.selectedItem', md-search-text='ctrl.searchText', md-items='item in ctrl.querySearch(ctrl.searchText, context)', md-item-text='item.display', placeholder='Add more games...')
        span(md-highlight-text='ctrl.searchText') {{item.display}}
