.ball-pulse(ng-if="!ctrl.loaded[context]" style="margin: 0 auto 10px auto; width: 65px;")
    div
    div
    div

div
    div(ng-repeat='platform_items in ctrl.getItems(context)')
        div(layout="row" class="platform-games-holder" ng-class="{'platform-games-holder-hidden': ctrl.pinned != platform_items.platform.id && ctrl.pinned}")
            div(class="platform-vertical-logo" style="position: relative;" ng-click="ctrl.pinned == platform_items.platform.id ? ctrl.pinned = '' : ctrl.pinned = ctrl.currentPlatform = platform_items.platform.id")
                em(ng-class="{'fa fa-thumb-tack': ctrl.pinned == platform_items.platform.id, 'icon-pin': ctrl.pinned != platform_items.platform.id}")
                md-tooltip(md-direction="top" ng-if="ctrl.pinned != platform_items.platform.id") Click to display only {{ platform_items.platform.short_name }} games
                md-tooltip(md-direction="top" ng-if="ctrl.pinned == platform_items.platform.id") Click to display all games from all platforms
                img(ng-src="{{ platform_items.platform.logo_image_vertical }}" style="height: 90px; position: absolute; top: 50%; transform: translateY(-50%);")
            div(ng-class="{'fade-holder': ctrl.scrollable}")
                .fade-left.fade-out(ng-mouseover="ctrl.scroll(context, platform_items.platform.id, '-')" ng-mouseleave="ctrl.scrollStop()")
                .fade-right(ng-mouseover="ctrl.scroll(context, platform_items.platform.id, '+')" ng-mouseleave="ctrl.scrollStop()")
            div(class="platform-games" ng-class="{'scrollable': ctrl.scrollable}")
                div(class="sss" ng-class="{'scrollable-block': ctrl.scrollable}" id="platform-games-{{ context }}-{{ platform_items.platform.id }}")
                    .game-img-holder.animate(ng-repeat='item in platform_items.items track by item.game.id')
                        img(ng-src='{{item.game.images.front_thumb_medium}}', alt='{{item.game.full_name}}')
                        md-tooltip(md-direction="top") {{item.game.full_name}}
                        em.icon-close.remove-game(ng-click="ctrl.removeGameFrom(item.id, platform_items.platform.id, context)")
                    //.game-img-holder(style="visibility: hidden;" ng-if="ctrl.scrollable")
                    //    span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            div(style="clear: both;")
        div(style="clear: both;")
    div(style="clear: both;")

form(ng-submit="ctrl.addGameTo(context)" class="{{ context }}")

    div(layout="row")
        platform-select(parentctrl="ctrl" context="context")
        div(flex)
            md-autocomplete(ng-disabled='ctrl.isDisabled || !ctrl.currentPlatform', md-selected-item-change="ctrl.addGameTo(context)", md-no-cache='ctrl.noCache',
                            md-selected-item='ctrl.selectedItem', md-search-text='ctrl.searchText',
                            md-items='item in ctrl.querySearch(ctrl.searchText, context)', md-item-text='item.display',
                            placeholder='Add games to {{ context }}...', md-min-length="2", md-delay="500", md-autoselect="true")
                md-item-template
                    //img(ng-src="{{ item.item.platform.logo_image }} " alt="{{ item.item.platform.name }}" style="height: 30px; margin-right: 5px;")
                    span(md-highlight-text="ctrl.searchText") {{item.item.name}}
                md-not-found No matches found.
            md-tooltip(md-direction="bottom" ng-if='!ctrl.currentPlatform') Select a platform on the left