h3 Games
  small &nbsp;

.row.user-games
    .col-lg-6
        .card.collection-card(ng-controller='GamesCtrl as ctrl')
            .card-heading.bg-primary
                div(class="games-display")
                    span(ng-click="ctrl.scrollable = false")
                        .em.fa.fa-th(ng-class="{'selected': !ctrl.scrollable}")
                        md-tooltip(md-direction="top") Default display
                    span &nbsp;&nbsp;&nbsp;&nbsp;
                    span(ng-click="ctrl.scrollable = true")
                        .em.fa.fa-ellipsis-h(ng-class="{'selected': ctrl.scrollable}")
                        md-tooltip(md-direction="top") Horizontal scrollable display
                .card-title
                    .em.icon-layers(style="display: inline;") &nbsp;
                    span My Collection
            .card-body
                ng-include(src="'app/views/games/items.partial.html'", onload="context='collection'; ctrl.gameTour()")
    .col-lg-6
        .card.wishlist-card(ng-controller='GamesCtrl as ctrl')
            .card-heading.bg-primary
                div(class="games-display")
                    span(ng-click="ctrl.scrollable = false")
                        .em.fa.fa-th(ng-class="{'selected': !ctrl.scrollable}")
                        md-tooltip(md-direction="top") Default display
                    span &nbsp;&nbsp;&nbsp;&nbsp;
                    span(ng-click="ctrl.scrollable = true")
                        .em.fa.fa-ellipsis-h(ng-class="{'selected': ctrl.scrollable}")
                        md-tooltip(md-direction="top") Horizontal scrollable display
                .card-title
                    .em.icon-heart(style="display: inline;") &nbsp;
                    span Wish list
            .card-body
                ng-include(src="'app/views/games/items.partial.html'", onload="context='wishlist'")
