h3 Games
  small &nbsp;

.row.user-games
    .col-lg-6
        .card.collection-card(ng-controller='GamesCtrl as ctrl')
            .card-heading.bg-primary
                div(class="games-display")
                    span(ng-click="ctrl.scrollable = false")
                        .em.fa.fa-th(ng-class="{'selected': !ctrl.scrollable}")
                        md-tooltip(md-direction="top") Default display
                    span &nbsp;&nbsp;&nbsp;&nbsp;
                    span(ng-click="ctrl.scrollable = true")
                        .em.fa.fa-ellipsis-h(ng-class="{'selected': ctrl.scrollable}")
                        md-tooltip(md-direction="top") Horizontal display
                .card-title
                    .em.icon-layers(style="display: inline;") &nbsp;
                    span My Collection
            .card-body
                ng-include(src="'app/views/games/items.partial.html'", onload="context='collection'; ctrl.gameTour()")
                div(ng-if="ctrl.restartTourButton" style="margin: 30px auto 10px auto; text-align: center;")
                    button.btn.mb-sm.btn-default.btn-labeled(ng-click="ctrl.runGameTour()")
                        span.btn-label
                            em.icon-reload
                        span Restart tour
    .col-lg-6
        .card.wishlist-card(ng-controller='GamesCtrl as ctrl')
            .card-heading.bg-primary
                div(class="games-display")
                    span(ng-click="ctrl.scrollable = false")
                        .em.fa.fa-th(ng-class="{'selected': !ctrl.scrollable}")
                        md-tooltip(md-direction="top") Default display
                    span &nbsp;&nbsp;&nbsp;&nbsp;
                    span(ng-click="ctrl.scrollable = true")
                        .em.fa.fa-ellipsis-h(ng-class="{'selected': ctrl.scrollable}")
                        md-tooltip(md-direction="top") Horizontal display
                .card-title
                    .em.icon-heart(style="display: inline;") &nbsp;
                    span Wish list
            .card-body
                ng-include(src="'app/views/games/items.partial.html'", onload="context='wishlist'")

//div(style="clear: both; width: 100%; height: 115px;")