h3 My profile
    small Some description about my profile...

.container-fluid(ng-controller='UsersCtrl as ctrl')
    .row
        .col-md-4
            .panel.panel-default
                .panel-body.text-center
                    .pv-lg
                        div.user-img.center.clickable(ng-click="ctrl.changePicture()")
                            img.img-thumbnail(ng-src="{{user.picture}}", alt="{{user.name}}")
                            md-tooltip(md-direction="top") Change Picture
                    h3.m0.text-bold {{ user.first_name }} {{ user.last_name }}
                    .mv-lg
                        user-ratings(user="user")

                .panel-body.bt.text-center
                    .row
                        .col-xs-4.br
                            em.fa.fa-thumbs-up.fa-fw.text-success
                            strong +{{ user.succeeded_swaps_count }}
                            md-tooltip(md-direction="top") Succeeded swaps
                        .col-xs-4.br
                            em.fa.fa-thumbs-down.fa-fw.text-danger
                            strong +{{ user.failed_swaps_count }}
                            md-tooltip(md-direction="top") Failed swaps
                        .col-xs-4
                            em.fa.fa-clock-o.fa-fw.text-warning
                            strong +{{ user.expired_swaps_count }}
                            md-tooltip(md-direction="top") Expired swaps


            .panel.panel-default.hidden-xs.hidden-sm
                .panel-heading
                    .panel-title Map
                .panel-body
                    .media(ng-if="!user.address.latitude || !user.address.longitude")
                        p No address has been provided yet
                    .media
                        .gmap(ui-map='ctrl.userMap', ui-options='ctrl.userMapOptions', class="map-canvas")

        .col-md-8
            .card
                .card-heading.bg-primary
                    .ball-pulse.profile-loading(style="float: right; margin-top: 5px; display: none;")
                        div(style="background-color: #fff;")
                        div(style="background-color: #fff;")
                        div(style="background-color: #fff;")
                    .card-title Profile Form
                .card-body
                    div.alert.alert-warning(ng-if="!user.address.latitude || !user.address.longitude")
                        span Please complete the form below to be able to start using the application.
                    form(name='profileForm', ng-submit="ctrl.updateUser()")
                        div#profile-form
                            div(layout='', layout-sm='column')
                                md-input-container(flex='', ng-class="{'md-input-invalid': ctrl.errors.first_name}")
                                    label First Name
                                    input(ng-model='ctrl.user.first_name', required, ng-change="ctrl.updateUser()" ng-model-options="{updateOn: 'blur'}")
                                    .md-errors-spacer(ng-repeat="error in ctrl.errors.first_name")
                                        .md-char-counter {{error}}
                                md-input-container(flex='', ng-class="{'md-input-invalid': ctrl.errors.last_name}")
                                    label Last Name
                                    input(ng-model='ctrl.user.last_name', required, ng-change="ctrl.updateUser()" ng-model-options="{updateOn: 'blur'}")
                                    .md-errors-spacer(ng-repeat="error in ctrl.errors.last_name")
                                        .md-char-counter {{error}}
                                md-input-container(flex='15', ng-class="{'md-input-invalid': ctrl.errors.gender}")
                                    label Gender
                                    md-select(ng-model="ctrl.user.gender", ng-change="ctrl.updateUser()")
                                        md-option(ng-value="gender.id", ng-repeat="gender in ctrl.genderOptions") {{gender.label}}
                                    .md-errors-spacer(ng-repeat="error in ctrl.errors.gender")
                                        .md-char-counter {{error}}
                            div(layout='', layout-sm='column')
                                md-input-container(flex='25', ng-class="{'md-input-invalid': ctrl.errors.phone1_prefix}")
                                    label Prefix
                                    md-select(ng-model="ctrl.user.phone1_prefix", required, md-on-close="ctrl.updateUser()")
                                        md-option(value="353")
                                            img(src="app/img/ir64px.png" alt="Ireland" style="height: 24px")
                                            span +353
                                        md-option(value="44")
                                            img(src="app/img/uk64px.png" alt="United Kingdom" style="height: 24px")
                                            span +44
                                md-input-container(flex='', ng-class="{'md-input-invalid': ctrl.errors.phone1}")
                                    label Phone 1
                                    input(ng-model='ctrl.user.phone1', required, ng-change="ctrl.updateUser()" ng-model-options="{updateOn: 'blur'}")
                                    .md-errors-spacer(ng-repeat="error in ctrl.errors.phone1")
                                        .md-char-counter {{error}}
                        div#platforms-field(layout='', layout-sm='column')
                            md-input-container(flex='', ng-class="{'md-input-invalid': ctrl.errors.platforms}")
                                label Platforms you have
                                md-select(ng-model="ctrl.user.platforms", multiple, required, md-on-close="ctrl.updateUser()")
                                    md-option(ng-value="platform.id", ng-repeat="platform in ctrl.allPlatforms") {{platform.name}}
                                .md-errors-spacer(ng-repeat="error in ctrl.errors.platforms")
                                    .md-char-counter {{error}}
                        div#address-form
                            div(layout='', layout-sm='column')
                                input(ng-model='ctrl.user.address.geocoder_address', type="hidden", required)
                                md-input-container(flex='', ng-class="{'md-input-invalid': ctrl.errors.address.geocoder_address || ctrl.errors.addressGlobal}")
                                    label Address
                                    md-autocomplete(md-no-cache='ctrl.noCache', md-selected-item-change="ctrl.user.address.geocoder_address = ctrl.searchText; ctrl.updateUser(true);" md-items='item in ctrl.queryAddress(ctrl.searchText)', md-search-text='ctrl.searchText', md-item-text='item.display', placeholder='Place your address here...')
                                        span(md-highlight-text='ctrl.searchText') {{item.display}}
                                    .md-errors-spacer(ng-repeat="error in ctrl.errors.address.geocoder_address")
                                        .md-char-counter {{error}}
                                    .md-errors-spacer(ng-repeat="error in ctrl.errors.addressGlobal")
                                        .md-char-counter {{error}}

                        //div(layout='', layout-sm='column')
                        //    md-input-container(flex='')
                        //        //md-button.md-raised.md-primary.md-ink-ripple(type="submit" ng-transclude="" aria-label="Save")
                        //        button.mb-sm.btn.btn-primary(type="submit" aria-label="Save")
                        //            span.ng-scope Save
                        //            .md-ripple-container
