md-dialog(aria-label="{{ ctrl.user.name }}'s recent feedback", ng-cloak, style="max-width: 580px;")
    form
        md-toolbar
            .md-toolbar-tools
                h2 {{ ctrl.user.name }}'s recent feedback
                span(flex)
                md-button.md-icon-button(ng-click="ctrl.close()")
                    md-icon(md-svg-src="app/img/icons/ic_close_24px.svg", aria-label="Close dialog")
        md-dialog-content
            .md-dialog-content(style="min-width: 320px;")
                div
                    .col-lg-6(style="margin-top: 5px; text-align: center;")
                        user-photo-ratings-distance(user="ctrl.user" distance="ctrl.distance" hidefeedback="true")
                    .col-lg-6(style="margin-top: 5px; text-align: center;")
                        p(style="white-space: nowrap;")
                            strong(style="white-space: nowrap;") Member since:
                            span(style="white-space: nowrap;") {{ ctrl.user.joined }}
                        p
                            div(style="float: right;")
                                a(href="javascript:;" ng-click="ctrl.reportUser()" style="text-decoration: none;")
                                    .label.label-danger Report this user!
                div(style='clear: both;')
                br
                .pull-right.label.label-danger
                    span {{ ctrl.user.negative_feedback_count }}
                    md-tooltip(md-direction="top") Negative feedback
                .pull-right.label.label-default(style="color: #333; margin-right: 10px;")
                    span {{ ctrl.user.neutral_feedback_count }}
                    md-tooltip(md-direction="top") Neutral feedback
                .pull-right.label.label-success(style="margin-right: 10px;")
                    span {{ ctrl.user.positive_feedback_count }}
                    md-tooltip(md-direction="top") Success feedback
                p(ng-if="!ctrl.recentFeedback.items.length" style="margin-top: 0;") No feedback yet.
                h4(ng-if="ctrl.recentFeedback.items.length" style="margin-top: 0;") Recent feedback (showing {{ ctrl.recentFeedback.items.length }} of {{ ctrl.recentFeedback.total }})
                user-recent-feedback(user="ctrl.user" recentfeedback="ctrl.recentFeedback")

                div(style="clear: both;")

            div(style="clear: both;")
            div(style="height: 20px;")

        .dialog-bottom-fade

        md-dialog-actions(layout="row")
            button.btn.mb-sm.btn-default.btn-labeled(ng-click="ctrl.close()")
                span.btn-label
                    em.fa.fa-arrow-left
                span Back
