LSG_DB_NAME=
LSG_DB_USER=
LSG_DB_PASS=
LSG_DB_HOST=
LSG_DB_PORT=

C_FORCE_ROOT=true

LSG_DJANGO_DEBUG=false

LSG_ALLOWED_HOSTS=

# FACEBOOK
LSG_AUTH_FACEBOOK_KEY=
LSG_AUTH_FACEBOOK_SECRET=

# TWITTER
LSG_AUTH_TWITTER_KEY=
LSG_AUTH_TWITTER_SECRET=

# GOOGLE
LSG_AUTH_GOOGLE_KEY=
LSG_AUTH_GOOGLE_SECRET=

LSG_EMAIL_USE_TLS=
LSG_EMAIL_HOST=
LSG_EMAIL_PORT=
LSG_EMAIL_HOST_USER=
LSG_EMAIL_HOST_PASSWORD=
LSG_DEFAULT_FROM_EMAIL=
LSG_DEFAULT_TO_EMAIL=
LSG_SERVER_EMAIL=

LSG_MOCK_SEND_EMAIL=

