md-dialog(aria-label="{{ ctrl.game.full_name }}", ng-cloak, style="max-width: 900px;")
    form
        md-toolbar
            .md-toolbar-tools
                h2 {{ ctrl.game.full_name }}
                span(flex)
                md-button.md-icon-button(ng-click="ctrl.close()")
                    md-icon(md-svg-src="app/img/icons/ic_close_24px.svg", aria-label="Close dialog")
        md-dialog-content
            .md-dialog-content(style="min-width: 320px;")
                div(layout="row")
                    div(style="margin-right: 20px; position: relative;")
                        .label.label-warning.swap-indicator(ng-if="ctrl.game.iHave")
                            .em.fa.fa-star
                            md-tooltip(md-direction="bottom") You have this game
                        .label.label-pink.swap-indicator(ng-if="ctrl.game.iWant")
                            .em.fa.fa-heart
                            md-tooltip(md-direction="bottom") You want this game
                        a(href="javascript:;" ng-click="ctrl.checkoutMatches()")
                            .label.label-info.swap-indicator(ng-if="ctrl.game.inMatches && !ctrl.game.inOpenRequest" style="right: 45px;")
                                .em.fa.fa-thumbs-up
                                md-tooltip(md-direction="bottom") There is a match for this game!
                        a(href="javascript:;" ng-click="ctrl.openRequests()")
                            .label.label-success.swap-indicator(ng-if="ctrl.game.inOpenRequest" style="right: 45px;")
                                .em.fa.fa-hand-o-up
                                md-tooltip(md-direction="bottom") There is an open request involving this game
                        img(ng-src='{{ctrl.game.images.front_thumb_medium}}', alt='{{ctrl.game.full_name}}')
                    div
                        h3(style="margin-top: 0;")
                            img(ng-src="{{ ctrl.game.platform.logo_image }}" alt="{{ctrl.game.platform.short_name}}" style="height: 40px;")
                            span(style="vertical-align: bottom;") {{ctrl.game.name}}
                        p
                            .label.label-info(ng-if="ctrl.game.inMatches && !ctrl.game.inOpenRequest" style="margin-right: 10px;")
                                .em.fa.fa-thumbs-up
                                span &nbsp;
                                a(href="javascript:;" ng-click="ctrl.checkoutMatches()" style="color: #fff;") There is a match for this game
                            .label.label-success(ng-if="ctrl.game.inOpenRequest" style="margin-right: 10px;")
                                .em.fa.fa-hand-o-up
                                span &nbsp;
                                a(href="javascript:;" ng-click="ctrl.openRequests()" style="color: #fff;") There is an open request involving this game
                            .label.label-warning(ng-if="ctrl.game.iHave" style="margin-right: 10px;")
                                .em.fa.fa-star
                                span &nbsp; You have this game on your collection
                            .label.label-pink(ng-if="ctrl.game.iWant")
                                .em.fa.fa-heart
                                span &nbsp; You have this game on your wish list

                        p
                            span(style="margin-right: 20px;")
                                em.text-warning.fa.fa-star
                                span {{ ctrl.ownedTitle(ctrl.game) }}
                        p
                            span
                                em.text-pink.fa.fa-heart
                                span {{ ctrl.wantedTitle(ctrl.game) }}

                        a(href="javascript:;" ng-click="ctrl.checkoutMatches()")
                            button.btn.mb-sm.btn-info.btn-labeled(style="margin: 0 auto;")
                                span.btn-label
                                    em.fa.fa-exchange
                                span(ng-if="!ctrl.game.inMatches") Check matches&nbsp;
                                span(ng-if="ctrl.game.inMatches") Check the match for this game

                //p {{ ctrl.game.overview }}
                //p
                //    strong Release:
                //    span {{ ctrl.game.release }}
                //p
                //    strong Genres:
                //    span {{ ctrl.game.genres_display }}
                //p
                //    strong Players:
                //    span {{ ctrl.game.players }}
                //p
                //    strong Co-op:
                //    span {{ ctrl.game.co-op }}
                //p
                //    strong Developer:
                //    span {{ ctrl.game.developer }}
                //p
                //    strong Publisher:
                //    span {{ ctrl.game.publisher }}
                //p
                //    strong ESRB:
                //    span {{ ctrl.game.esrb }}
                //p
                //    strong Youtube:
                //    span {{ ctrl.game.youtube }}
                //p
                //    strong Ratings:
                //    span {{ ctrl.game.api_rating }}

                p(style="margin-top: 20px; color: #FF3800;" ng-if="ctrl.game.owned_count || ctrl.game.wanted_count")
                    i The markers displayed on the map are not exact location of the users, just an approximation.
                .gmap(ui-map='ctrl.usersMap', ui-options='ctrl.usersMapOptions', class="map-canvas" style="margin-top: 20px;" ng-if="ctrl.game.owned_count || ctrl.game.wanted_count")

                div(style="clear: both;")

            div(style="height: 20px;")

        .dialog-bottom-fade

        md-dialog-actions(layout="row")
            button.btn.mb-sm.btn-warning.btn-labeled(ng-click="ctrl.addGameTo('collection')" ng-if="!ctrl.game.iHave && !ctrl.game.iWant")
                span.btn-label
                    em.fa.fa-star
                span I have it
            button.btn.mb-sm.btn-pink.btn-labeled(ng-click="ctrl.addGameTo('wishlist')" style="margin-left: 10px" ng-if="!ctrl.game.iHave && !ctrl.game.iWant")
                span.btn-label
                    em.fa.fa-heart
                span I want it
            button.btn.mb-sm.btn-default.btn-labeled.hidden-xs(ng-click="ctrl.close()" style="margin-left: 10px")
                span.btn-label
                    em.fa.fa-close
                span Close
            button.btn.mb-sm.btn-default.visible-xs(ng-click="ctrl.close()" style="margin-left: 10px")
                span Close
