div.keep-content-heading(ng-controller='BrowseCtrl as ctrl')
    h3 Browse
        .browse-controls
            div(style="float: left; font-size: 18px;")
                platform-select(parentctrl="ctrl" context="'.browse-controls'" placeholder="'ALL'" allowall="true")
                md-tooltip(md-direction="bottom") Select a platform
            div(style="float: left;")
                a(ng-click="ctrl.loadGamesList('-owned_count,name,id')")
                    em.fa.fa-star(ng-class="{'text-warning': ctrl.selectedFilter == '-owned_count,name,id', 'text-gray-light': ctrl.selectedFilter != '-owned_count,name,id'}")
                    md-tooltip(md-direction="bottom") Sort by people who have it
                a(ng-click="ctrl.loadGamesList('-wanted_count,name,id')")
                    em.fa.fa-heart(ng-class="{'text-pink': ctrl.selectedFilter == '-wanted_count,name,id', 'text-gray-light': ctrl.selectedFilter != '-wanted_count,name,id'}")
                    md-tooltip(md-direction="bottom") Sort by people who want it
                a(ng-click="ctrl.loadGamesList('-release,id')")
                    em.fa.fa-clock-o(ng-class="{'text-info': ctrl.selectedFilter == '-release,id', 'text-gray-light': ctrl.selectedFilter != '-release,id'}")
                    md-tooltip(md-direction="bottom") Sort by latest releases
                a(ng-click="ctrl.loadGamesList('name,id')")
                    em.fa.fa-sort-alpha-asc(ng-class="{'text-success': ctrl.selectedFilter == 'name,id', 'text-gray-light': ctrl.selectedFilter != 'name,id'}")
                    md-tooltip(md-direction="bottom") Sort alphabetically

    .ball-pulse(ng-if="ctrl.loading && !ctrl.paginating" style="text-align: center; padding: 100px 0;")
        div
        div
        div

    div(infinite-scroll='ctrl.loadMore()'
        infinite-scroll-distance='2'
        infinite-scroll-container='div.content-wrapper.ng-scope'
        infinite-scroll-disabled="ctrl.loading")
        .card.game-list-item.animate(ng-repeat='game in ctrl.games track by game.id')
            .card-item
                .label.label-warning.swap-indicator(ng-if="ctrl.iHave(game)")
                    .em.fa.fa-star
                    md-tooltip(md-direction="bottom") You have this game
                .label.label-pink.swap-indicator(ng-if="ctrl.iWant(game)")
                    .em.fa.fa-heart
                    md-tooltip(md-direction="bottom") You want this game
                a(href="/app/#/app/matches")
                    .label.label-info.swap-indicator(ng-if="ctrl.inMatches(game) && !ctrl.inOpenRequest(game)" style="right: 45px;")
                        .em.fa.fa-thumbs-up
                        md-tooltip(md-direction="bottom") There is a match with this game!
                a(href="/app/#/app/requests")
                    .label.label-success.swap-indicator(ng-if="ctrl.inOpenRequest(game)" style="right: 45px;")
                        .em.fa.fa-hand-o-up
                        md-tooltip(md-direction="bottom") There is an open request involving this game
                div(style="height: 170px; width: 100%; background-image: url({{game.images.front_thumb_medium}}); background-size: cover; background-position: center top; position: absolute;" ng-click="ctrl.showGameDetails(game)")
                md-tooltip(md-direction="top") {{game.full_name}}
                div(style="height: 170px; text-align: center;" ng-click="ctrl.showGameDetails(game)")
                    img.img-responsive.match-game-image(ng-src='{{game.images.front_thumb_medium}}', alt='{{game.full_name}}', style="height: 170px; max-width: none; text-align: center; margin: 0 auto;")
                    md-tooltip(md-direction="top") {{game.full_name}}
            .card-body(style="text-align: center; cursor: default; padding-left: 5px; padding-right: 5px; padding-top: 5px;")
                //div(style="overflow: hidden; margin-bottom: 10px;")
                //    span(style="white-space: nowrap;") {{ game.name }}
                //    md-tooltip(md-direction="top") {{game.full_name}}
                div
                    span(style="margin-right: 20px;")
                        em.text-warning.fa.fa-star
                        span {{ game.owned_count }}
                        md-tooltip(md-direction="bottom")
                            ng-pluralize(count="game.owned_count", when="{'0': 'Nobody has this game', 'one': '{{ game.owned_count }} person has this game', 'other': '{{ game.owned_count }} people have this game'}")
                    span
                        em.text-pink.fa.fa-heart
                        span {{ game.wanted_count }}
                        md-tooltip(md-direction="bottom")
                            ng-pluralize(count="game.wanted_count", when="{'0': 'Nobody wants this game', 'one': '{{ game.wanted_count }} person wants this game', 'other': '{{ game.wanted_count }} people want this game'}")

        div(style="clear: both;")
    div(style="clear: both;")
    .ball-pulse(ng-if="ctrl.loading && ctrl.paginating" style="text-align: center;")
        div
        div
        div
