div.keep-content-heading(ng-controller='MatchesCtrl as ctrl')
    h3 Matches
        small
            md-switch(ng-model='ctrl.showOngoingSwaps', ng-change="ctrl.filterMatches()", aria-label='Show games in ongoing requests', style="position: absolute; right: 3px; top: -5px;")
                | Show games in ongoing swaps
            md-switch(ng-model='ctrl.showPendingSwaps', ng-change="ctrl.filterMatches()", aria-label='Show games in pending requests', style="position: absolute; right: 20px; top: 17px;")
                | Show games in pending swaps
            span &nbsp;

    p(ng-if="!ctrl.filteredMatches.length && ctrl.loaded")
        span No matches yet. Try adding more games to your&nbsp;
        a(href="/app/#/app/games") collection and/or wish list.
    h4(ng-if="!ctrl.filteredMatches.length && ctrl.loaded" style="text-align: center; margin-top: 60px;")
        span Want to see matches? Try adding more games to your&nbsp;
        a(href="/app/#/app/games") collection and/or wish list.
        br
        br
        span You can also help our community grow to increase the chances of matches.&nbsp;
        br
        a(href="/app/#/app/invite") Invite people
        span that might enjoy swapping games here.

    .ball-pulse(ng-if="!ctrl.loaded")
        div
        div
        div

    .card.match-set-item.animate(ng-repeat='match in ctrl.filteredMatches track by match.iwish.id')
        .card-item
            img.similar-ribon.small(nng-if="match.iwish.is_similar" ng-src="/app/app/img/similar-78.png")
            .label.label-warning.swap-indicator(ng-if="match.iwish.swap_pending")
                .em(ng-class="StatusIcons[Status.pending]")
                md-tooltip(md-direction="bottom") You have already requested this game for swapping.
            .label.label-info.swap-indicator(ng-if="match.ongoing")
                .em(ng-class="StatusIcons[Status.ongoing]")
                md-tooltip(md-direction="bottom") There is already a swap ongoing with this game.
            .label.label-primary.swap-indicator(ng-if="match.no_games_left" ng-style="match.iwish.swap_pending && {right: '40px'}")
                .em.fa.fa-frown-o
                md-tooltip(md-direction="bottom") No valid matches available.

            div(style="height: 170px; background-color: #eee;")
                img.img-responsive(ng-src='{{match.iwish.images.front_thumb_medium}}', alt='{{match.iwish.full_name}}', style="max-height: 170px;")
                md-tooltip(md-direction="top") {{match.iwish.full_name}}
        .card-offset.pull-right
            button.btn.btn-info.btn-circle.btn-lg(type="button" ng-click="ctrl.openMatch(match)")
                em.icon-grid
                md-tooltip(md-direction="top") See all matches
        .card-body
            h4.m0(style="white-space: nowrap;")
                ng-pluralize(count="match.count", when="{'one': '{{match.count}} match', 'other': '{{match.count}} matches'}")
            p.m0(style="padding-top: 5px; white-space: nowrap;")
                ng-pluralize(count="match.swaps.length", when="{'one': 'from {{match.swaps.length}} user', 'other': 'from {{match.swaps.length}} users'}")

    div(style="clear: both;")
    div(ng-if="ctrl.filteredMatches.length" style="clear: both; margin-top: 60px;")
        h5(style="text-align: center;")
            span Want to see more matches? Try adding more games to your&nbsp;
            a(href="/app/#/app/games") collection and/or wish list.
            br
            br
            span You can also help our community grow to increase the chances of matches.&nbsp;
            br
            a(href="/app/#/app/invite") Invite people
            span that might enjoy swapping games here.
