md-dialog(aria-label="Matches", ng-cloak, style="max-width: 580px;")
    form
        md-toolbar
            .md-toolbar-tools
                h2 Matches
                span(flex)
                md-button.md-icon-button(ng-click="ctrl.close()")
                    md-icon(md-svg-src="app/img/icons/ic_close_24px.svg", aria-label="Close dialog")
        md-dialog-content
            .md-dialog-content(style="min-width: 320px;")
                div(style="float: left; margin-right: 20px; position: relative;")
                    img.similar-ribon(nng-if="ctrl.match.iwish.is_similar" ng-src="/app/app/img/similar.png")
                    .label.label-warning.swap-indicator(ng-if="ctrl.match.iwish.swap_pending")
                        .em.fa.fa-ellipsis-h
                        md-tooltip(md-direction="bottom") You have already a pending Swap Request for this game.
                    .label.label-info.swap-indicator(ng-if="ctrl.match.ongoing")
                        .em.fa.fa-thumbs-up
                        md-tooltip(md-direction="bottom") There is already a swap ongoing with this game.
                    .label.bg-primary-dark.swap-indicator(ng-if="match.no_games_left" ng-style="ctrl.match.iwish.swap_pending && {right: '40px'}")
                        .em.fa.fa-frown-o
                        md-tooltip(md-direction="bottom") All your games that matches this game are ongoing for swap.
                    img(ng-src='{{ctrl.match.iwish.images.front_thumb_medium}}', alt='{{ctrl.match.iwish.full_name}}')
                h3(style="margin-top: 0;")
                    img(ng-src="{{ ctrl.match.iwish.platform.logo_image }}" alt="{{ctrl.match.iwish.platform.short_name}}" style="height: 40px;")
                    span &nbsp;
                    span {{ctrl.match.iwish.name}}
                //p
                //    .label.label-success {{ctrl.match.iwish.platform.short_name}}
                div(ng-if="ctrl.match.iwish.swap_pending")
                    .media.bg-warning(style="padding: 9px; border-radius: 5px; margin: 9px 0 9px 0;")
                        span You have already a pending Swap Request for this game.
                div(ng-if="ctrl.match.ongoing")
                    .media.bg-danger-dark(style="padding: 9px; border-radius: 5px; margin: 9px 0 9px 0;")
                        span You cannot request this game for swapping as you already have a swap ongoing involving this game.
                div(ng-if="ctrl.match.no_games_left")
                    .media.bg-primary-dark(style="padding: 9px; border-radius: 5px; margin: 9px 0 9px 0;")
                        span No valid matches available.
                p.m0
                    ng-pluralize(count="ctrl.match.count", when="{'one': '{{ctrl.match.count}} match', 'other': '{{ctrl.match.count}} matches'}")
                    ng-pluralize(count="ctrl.match.swaps.length", when="{'one': 'from {{ctrl.match.swaps.length}} user', 'other': 'from {{ctrl.match.swaps.length}} users'}")
                div(style="clear: both;")
                br
                h4 Now select below one of the games you own.
                h5 The following users want to swap the game "{{ctrl.match.iwish.full_name}}" with one of your games listed below:
                .panel.panel-default(ng-repeat="swap in ctrl.match.swaps")
                    .panel-body
                        div(ng-style="match.ongoing && {opacity: 0.4}")
                            user-photo-ratings-distance(user="swap.user" onfeedbackclose="ctrl.openMatchCallback")

                        .media(style="margin: 0 -15px -15px 0; padding-top: 15px;")
                            .game-img-holder.animate(ng-repeat='game in swap.wanted_games')
                                .label.label-info.swap-indicator(ng-if="game.ongoing")
                                    .em.fa.fa-thumbs-up
                                    md-tooltip(md-direction="bottom") There is already a swap ongoing with this game.
                                .label.label-warning.swap-indicator(ng-if="game.swap_pending")
                                    .em.fa.fa-ellipsis-h
                                    md-tooltip(md-direction="bottom") This games is involved in a "pending" Swap Request.
                                img(ng-src='{{game.images.front_thumb_medium}}', alt='{{game.full_name}}', ng-style="(game.cannot_request || game.other_user_ongoing || game.this_user_ongoing || ctrl.match.ongoing) && {opacity: 0.4}")

                                md-tooltip(md-direction="top" ng-if="!game.cannot_request && !game.other_user_ongoing && !game.this_user_ongoing && !ctrl.match.ongoing") Swap with your game "{{game.full_name}}" now!
                                md-tooltip(md-direction="top" ng-if="game.cannot_request") You cannot select this game to swap, as you already have a swap ongoing involving this game.
                                md-tooltip(md-direction="bottom" ng-if="ctrl.match.ongoing") You cannot select this game to swap, as you already have a swap ongoing involving the game "{{ ctrl.match.iwish.name }}".
                                md-tooltip(md-direction="top" ng-if="game.other_user_ongoing") You cannot select this game to swap as {{ swap.user.name }} is currently negotiating this game with some other user.
                                md-tooltip(md-direction="bottom" ng-if="game.this_user_ongoing") You cannot select any of your games to swap as {{ swap.user.name }} is currently negotiating the game "{{ ctrl.match.iwish.name }}" with some other user.
                                button.btn.btn-info.btn-circle.btn-lg.swap(type="button" ng-click="ctrl.requestSwap(ctrl.match, game, swap.user)" ng-if="!game.cannot_request && !game.other_user_ongoing && !game.this_user_ongoing")
                                    em.fa.fa-exchange

                div(style="clear: both;")

            div(style="height: 20px;")

        .dialog-bottom-fade

        md-dialog-actions(layout="row")
            button.btn.mb-sm.btn-default.btn-labeled(ng-click="ctrl.close()")
                span.btn-label
                    em.fa.fa-close
                span Cancel
