{% load static %}

<div style="max-width: 800px; margin: 0 auto; background: #eee; font-family: 'Roboto', sans-serif; font-weight: 100;">
    {% block header %}
        <div style="background-color: #263238; background-image: url({% static 'img/cs-empty.png' %}); color: #fff; padding: 30px 30px; margin: 0; text-align: left;">
            <a href="{{ website }}/" style="color: #eee;">
                <h2 style="vertical-align: top; display: inline-block; margin: 0; padding: 0; line-height: 20px; font-weight: 100; font-family: 'Roboto', sans-serif;">
                    <img src="{{ website }}{% static 'img/logo-77x40.png'%}" style="height: 35px;" alt="Let'SwapGames">
                    <span style="vertical-align: top; display: inline-block; margin-top: 10px; margin-left: 10px; font-weight: 100;">Let'SwapGames</span>
                </h2>
            </a>
        </div>

    {% endblock %}

    <div style="margin: 0px; padding: 0px 15px;">

        {% block body %}
        {% endblock %}

        {% block signature %}
            <p>
                Kind regards,
            </p>

            <p>
                Let'SwapGames Automatic Service
            </p>
            <br>
            <p style="font-size: 11px; color: #999;">
                You have received this email because you are listed as a Let'SwapGames
                account holder. If you no longer wish to receive automatic emails of
                this kind you must delete your account from our system by clicking
                <a href="{{ website }}/app/#/app/profile." target="_blank">here</a>.
                This email and any files transmitted with it are confidential and
                intended solely for the use of the individual or entity to whom they
                are addressed. If you have received this email in error please notify
                us immediately.<br>
                36 The Orchard, Athlone, Westmeath, Ireland
            </p>
        {% endblock %}
    </div>
    <div style="background: #ddd; padding: 2px 20px; margin: 0;">
        <p style="text-align: center;">
            <a href="{{ website }}/" target="_blank">
                <img src="{{ website }}{% static 'img/logo-96x50-dark.png'%}" style="height: 20px;" alt="Let'SwapGames">
            </a>
        </p>
        <p style="font-size: 12px; text-align: center;">
            &copy; Let'SwapGames - all rights reserved.
        </p>
    </div>
</div>