{% if user == swap_request.requester_game %}
    {% with swap_request.requester_game as iwish and swap_request.requested_game as mygame %}
        {% include "mail/emails/games-images.html" %}
    {% endwith %}
{% else %}
    {% with swap_request.requested_game as iwish and swap_request.requester_game as mygame %}
        {% include "mail/emails/games-images.html" %}
    {% endwith %}
{% endif %}

<div style="text-align: center; font-size: 12px;">
    game you wish
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    game you own
</div>
