{% extends "mail/emails/base.html" %}

{% block body %}
    <h4>Hello {{ user }},</h4>

    <p>
        The user {{ user_who_finalized }} marked a request as
        {% if swapped %}swapped{% else %}not swapped{% endif %} at
        Let'SwapGames and gave you feedback.
    </p>

    <p>
        Please <a href="{{ website }}/app/#/app/requests?id={{ swap_request.id }}&msg=Please+finalize+this+request+and+leave+feedback+to+{{ user_who_finalized }}.">click here</a> to
        finalize this request and leave feedback to {{ user_who_finalized }}.
    </p>

    {% include "mail/emails/request-games-images.html" %}

{% endblock %}