{% extends "mail/emails/base.html" %}

{% block body %}
    <h4>Hello {{ user }},</h4>

    <p>
        You still have a swap request ongoing at Let'Swap Games and it will expire
        in {{ days }} days and it will consider that your negotiation didn't
        succeed and you will be given a neutral feedback note.
    </p>

    <p>
        Please <a href="http://{{ site.domain }}/app/#/app/requests?id={{ swap_request.id }}&msg=Please+finalize+this+request+and+give+{{ other_user }}+a+feedback+note.">click here</a> to
        finalize this request and give {{ other_user }} a feedback note.
    </p>

    <div style="text-align: center;">
        <img src="http://{{ site.domain }}{{ swap_request.requested_game.images.front_thumb_medium }}" style="height: 180px">
        &nbsp;&nbsp;&nbsp;
        <img src="http://{{ site.domain }}{{ swap_request.requester_game.images.front_thumb_medium }}" style="height: 180px">
    </div>

{% endblock %}
