{% extends "mail/emails/base.html" %}

{% block body %}
    <h2>Hello {{ swap_request.requester }},</h2>

    <p>
        The swap requested at {{ swap_request.created }} was accepted by the user
        {{ swap_request.requested }} at Let'Swap Games.
    </p>

    <p>
        You have offered your game "{{ swap_request.requester_game }}" to
        be swapped with the game "{{ swap_request.requested_game }}".
    </p>

    <p>
        Se below {{ swap_request.requested }}'s details:
    </p>

    <p>
        <strong>Email: </strong>
        <a href="sendto:{{ swap_request.requested.email }}">{{ swap_request.requested.email }}</a><br>
        <strong>Phone number:</strong> {{ swap_request.requested.phones }}<br>
        <strong>Address:</strong> {{ swap_request.requested.address }}
    </p>
{% endblock %}
