{% extends "mail/emails/base.html" %}

{% block body %}
    <h4>Hello {{ user }},</h4>

    <p>
        The swap you requested on {{ swap_request.created }} was accepted by
        {{ swap_request.requested }} at Let'SwapGames and you can now contact
        the user to arrange the swap.
    </p>

    {% include "mail/emails/request-games-images.html" %}

    <p style="text-align: center;">
        <a href="{{ website }}/app/#/app/requests?id={{ swap_request.id }}&msg=Check-the-user-contact-details.">Click here to contact {{ swap_request.requested }}</a>
    </p>

{% endblock %}
