{% extends "mail/emails/base.html" %}

{% block body %}
    <h4>Hello {{ user }},</h4>

    <p>
        You still have a swap request ongoing at Let'SwapGames and it will expire
        in {{ days }} days. If you don't finalize the request, it will be considered
        unsuccessful and you will be given neutral feedback.
    </p>

    <p>
        Please <a href="{{ website }}/app/#/app/requests?{% if user == swap_request.requester %}my{% else %}inc{% endif %}=true&id={{ swap_request.id }}&msg=Please+finalize+this+request+and+give+{{ other_user }}+a+feedback+note.">click here</a> to
        finalize this request and give {{ other_user }} feedback.
    </p>

    {% include "mail/emails/request-games-images.html" %}

{% endblock %}
