{% extends "mail/emails/base.html" %}

{% block body %}
    <h4>Hello {{ user }},</h4>

    <p>
        Your game "{{ swap_request.requested_game }}" was requested to be
        swapped with the game "{{ swap_request.requester_game }}" by the user
        {{ swap_request.requester }} at Let'SwapGames.
    </p>

    {% include "mail/emails/request-games-images.html" %}

    <p style="text-align: center;">
        <a href="{{ website }}/app/#/app/requests?inc=trueid={{ swap_request.id }}&msg=You+can+accept+or+refuse+this+swap+request.">Click here to check the request.</a>
    </p>
{% endblock %}
