{% load static %}

<h1><img src="{% static 'img/logo-77x40.png'%}" alt="Let'Swap Games"> Let'Swap Games</h1>

<h2>Hello {{ user }},</h2>

<p>
    The user {{ user_who_finalized }} marked a request as
    {% if swapped %}swapped{% else %}not swapped{% endif %} at
    Let'Swap Games.
</p>

<p>
    Please <a href="http://lsg.com/app/#/app/requests">click here</a> to
    finalize this request and give {{ user_who_finalized }} a feedback note.
</p>

<p>
    Regards,
</p>

<p>
    Let'Swap Games
</p>
