{% extends "mail/emails/base.html" %}

{% block body %}
    <h4>Hello {{ user }},</h4>

    <p>
        The game swap you requested on {{ swap_request.created }} was refused by the user
        {{ swap_request.requested }} at Let'SwapGames.
    </p>

    <p style="text-align: center;">
        <a href="{{ website }}/app/#/app/requests?inc=true&id={{ swap_request.id }}&msg=Your+request+was+refused,+but+you+can+try+other+matches.">Click here to check the request.</a>
    </p>

    {% include "mail/emails/request-games-images.html" %}

{% endblock %}
