{% extends "mail/emails/base.html" %}

{% block body %}
    <h4>Hello {{ swap_request.requested }},</h4>

    <p>
        {{ swap_request.requester }} has offered his game
        "{{ swap_request.requester_game }}" to
        be swapped with your game "{{ swap_request.requested_game }}", but
        he unfortunately cancelled this swap request now.
    </p>

    <div style="text-align: center;">
        <img src="https://{{ site.domain }}{{ swap_request.requester_game.images.front_thumb_medium }}" style="height: 180px">
        &nbsp;&nbsp;&nbsp;
        <img src="https://{{ site.domain }}{{ swap_request.requested_game.images.front_thumb_medium }}" style="height: 180px">
    </div>

{% endblock %}
