{% extends "mail/emails/base.html" %}

{% block body %}
    <h4>Hello {{ swap_request.requested }},</h4>

    <p>
        Your game "{{ swap_request.requested_game }}" was requested to be
        swapped with the game "{{ swap_request.requester_game }}" by the
        {{ swap_request.requester }} user at Let'SwapGames.
    </p>

    <div style="text-align: center;">
        <img src="https://{{ site.domain }}{{ swap_request.requester_game.images.front_thumb_medium }}" style="height: 180px">
        &nbsp;&nbsp;&nbsp;
        <img src="https://{{ site.domain }}{{ swap_request.requested_game.images.front_thumb_medium }}" style="height: 180px">
    </div>

    <p style="text-align: center;">
        <a href="https://{{ site.domain }}/app/#/app/requests?id={{ swap_request.id }}&msg=You+can+accept+or+refuse+this+swap+request.">Go check the request by clicking here.</a>
    </p>
{% endblock %}
