{% extends "mail/emails/base.html" %}

{% block body %}
    <h4>Hello {{ user }},</h4>

    <p>
        The user {{ user_who_finalized }} marked a request as
        {% if swapped %}swapped{% else %}not swapped{% endif %} at
        Let'Swap Games.
    </p>

    <p>
        Please <a href="http://{{ site.domain }}/app/#/app/requests?id={{ swap_request.id }}&msg=Please+finalize+this+request+and+give+{{ user_who_finalized }}+a+feedback+note.">click here</a> to
        finalize this request and give {{ user_who_finalized }} a feedback note.
    </p>
{% endblock %}