<div ng-class="StatusLabelClasses[previous ? request.previous_status : request.status]" class="label">
   <em ng-if="request.automatically_refused &amp;&amp; request.isRefused()" class="fa fa-gears"></em>
   <em ng-class="StatusIcons[previous ? request.previous_status : request.status]" ng-if="!request.automatically_refused || !request.isRefused()"></em>
   <span ng-if="!previous">&nbsp; {{ request.status_display }}</span>
   <span ng-if="previous">&nbsp; {{ request.previous_status_display }}</span>
   <md-tooltip md-direction="top" ng-if="request.automatically_refused">Automatically Refused</md-tooltip>
</div>