@import '../app/material/colors';

/* some layout customization */

.content-wrapper > div.keep-content-heading > h3 {
  // Not possible to use @extend as it does not support nested selectors.
  // Copy and pasting the whole style definition from "layout.scss" file.
  font-size: $font-size-h3;
  line-height: $headings-line-height;
  color: #929292;
  margin: -20px;
  margin-bottom: 20px;
  padding: 15px;
  font-weight: normal;
  background-color: $content-heading-bg;
  border-bottom: 1px solid $content-heading-border;
  > small {
    display: block;
    font-size: 12px;
    color: $text-muted;
  }
}

/* END some layout customization */

.user-flag {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.user-flag:hover {
  opacity: .7;
}

.user-flag img {
  width: 24px;
  height: 24px;
}

.profile-user {
  position: relative;
  padding: 25px 0 10px;
  @include clearfix();
  > .user-block-picture {
    position: relative;
    width: 90px;
    margin: 0 auto;
    > img {
      max-width: 100%;
      height: auto;
    }
  }

}

md-tooltip {
  z-index: 9999;
}

md-virtual-repeat-container {
  z-index: 9999 !important;
}

md-backdrop.md-select-backdrop {
  z-index:9998;
}

.md-select-menu-container {
  z-index: 9999 !important;
}

.uk-notify {
  z-index: 9999 !important;
}

/*
.popover,
.popover-title {
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: #fff;
  border: none !important;
}

.arrow,
.arrow:after {
  border-top-color: rgba(0, 0, 0, 0.6) !important;
  border-bottom-color: rgba(0, 0, 0, 0.6) !important;
  //border-left-color: rgba(0, 0, 0, 0.6) !important;
  //border-right-color: rgba(0, 0, 0, 0.6) !important;
}

.popover-navigation .btn {
  border: none !important;
  background-color: #333 !important;
  color: #fff !important;
  padding: 3px 10px !important;
  border-radius: 3px;
}
*/

//.tour-backdrop {
//  z-index: 110 !important;
//}

.user-details {
  text-align: center;
  .user-info p {
    margin: 5px 0 0 0;
  }
}

.user-block {
  padding-right: 18px;
}

.user-img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  border: 2px solid #ddd;
  img {
    min-height: 90px;
    min-width: 90px;
    padding: 0;
  }
}
.user-img.center {
  margin: 0 auto;
}

.md-button.md-default-theme.md-primary,
.md-button.md-primary {
  color: #fff;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}

.md-button.md-primary:hover {
  opacity: 0.9;
}



/*  THE CODE BELOW IS A WORKAROUND FOR THE TOUR WHEN IS MOBILE (check layout.scss: look for XXX) */
@media only screen and (max-width: $mq-up-to-tablet) {
  .csstransforms3d .wrapper > section {
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
       -moz-transition: none;
         -o-transition: none;
            transition: none;
  }
}
/*  END OF WORKAROUND */


.aside-collapsed {
  .user-block {
    padding-right: 18px !important;
  }
  .user-img.left-menu {
    height: 45px;
    width: 45px;
    img {
      min-height: 45px;
      min-width: 45px;
    }
  }
}

.user-img.clickable {
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.user-img.clickable:hover {
  opacity: 0.8;
}

.md-input-message-animation {
  opacity: 1 !important;
  visibility: visible !important;
}

button.md-primary {
  background-color: $mdc-blue-grey-900 !important;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: $mdc-blue-grey-900 !important;
}

@media only screen and (max-width: $mq-up-to-tablet) {
  .col-lg-6,
  .col-md-4,
  .col-md-8 {
    padding-left: 0;
    padding-right: 0;
    margin-top: -20px;
  }
  .user-games .card-body {
    padding: 10px 0px 10px 0px !important;
  }
  .user-games .card {
    margin-bottom: 40px;
  }
  .card-body {
    padding: 20px 10px 20px 10px !important;
  }
  .fade-holder .fade-right {
    right: 0px !important;
  }
  .fade-holder .fade-left {
    left: 35px !important;
  }
  .fade-holder .fade-right,
  .fade-holder .fade-left {
    width: 20px !important;
  }
  .game-img-holder {
    margin: 0 10px 10px 0 !important;
  }
  .platform-games {
    margin-top: 10px !important;
  }
}

@media only screen and (max-width: $mq-up-to-mobile) {
  .md-dialog-content {
    padding: 10px !important;
  }
}

.swap-indicator {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}

.swap-indicator .em {
  font-size: 14px;
}

.swap-indicator md-content {
  font-size: 14px;
}

.games-display {
  float: right;
  margin-top: 3px;
}

.games-display .em.fa.selected {
  color: $mdc-yellow-700;
}

.platform-games-holder {
  //background: linear-gradient(to right, #eee, #fff);
  //border-left: 1px solid #eee;
  //border-bottom: 1px solid #eee;
  //border-top-left-radius: 10px;
  //border-bottom-left-radius: 30px;
  margin-bottom: 20px;
  //margin-right: -22px;
  padding: 0;
  //@include box-shadow(0 2px 2px 0 rgba(0,0,0,0.4));
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  @include box-shadow(0px 1px 3px 0px rgba(0, 0, 0, 0.2));
  border-spacing: 17px;
  border-collapse: separate;

  overflow: inherit;
  //height: 350px;
  opacity: 1;
}

.platform-games {
  margin-top: 17px;
  margin-left: 10px;
  float: left;
}

.scrollable {
  margin-top: 0px;
  margin-left: 0px;
  height: 140px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.fade-holder {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.fade-holder .fade-right,
.fade-holder .fade-left {
  position: absolute;
  height: 120px;
  width: 50px;
  opacity: 1;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.fade-holder .fade-right {
  background: linear-gradient(to right, transparent, white);
  right: 22px;
}

.fade-holder .fade-out {
  //background: none !important;
  width: 0px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.fade-holder .fade-left {
  left: 57px;
  background: linear-gradient(to right, white, transparent);
}

.scrollable-block {
  width: auto !important;
}

.platform-games-holder:hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  //@include box-shadow(-4px 4px 4px 0 rgba(0,0,0,0.2));
}

.platform-games-holder .platform-vertical-logo {
  float: left;
  z-index: 2;
  //width: 37px;
  padding: 0 25px 0 10px;
  margin-right: 0px;
  //border-top-left-radius: 10px;
  //border-bottom-left-radius: 30px;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;

}

.platform-games-holder .platform-vertical-logo:hover > .icon-pin {
  color: $mdc-light-blue-500;
}

.platform-games-holder:hover > .platform-vertical-logo {
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  @include box-shadow(0px 1px 3px 0px rgba(0, 0, 0, 0.2));
}

.platform-vertical-logo > em {
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
  position: absolute;
  top: 3px;
  left: 12px;
  color: #555;
}

.platform-games-holder.platform-games-holder-hidden {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  height: 0;
  opacity: 0;
  margin: 0;
}

.platform-games-holder:hover em.icon-pin {
  opacity: 1;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.platform-vertical-logo > em.fa.fa-thumb-tack {
  //color: $mdc-yellow-800;
  color: $mdc-light-blue-500;
  opacity: 1 !important;
}

.game-border-highlight {
  border: 2px solid #fff;
}

.game-border-highlight.highlighted {
  border: 2px solid color('warning');
}

.game-img-holder {
  position: relative;
  float: left;
  display: block;
  margin: 0 20px 20px 0;
  @include box-shadow(0 4px 4px 0 rgba(0,0,0,0.4));

  //@include translate3d(0, -1px, 0);
  //$game-t-function: cubic-bezier(0.25,0.8,0.25,1);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  // TODO: user transition() misin instead !!!
}

.scrollable .game-img-holder {
  display: table-cell !important;
  white-space: nowrap  !important;
  float: none  !important;
  margin: 0;

}

.panel-default .game-img-holder {
  margin: 0 15px 15px 0 !important;
}

.game-img-holder img {
  height: 100px;
  line-height: 100px !important;
}

.game-img-holder:hover,
.game-img-holder:focus {
  @include box-shadow(0 8px 8px 0 rgba(0,0,0,0.4));
  @include translate3d(0, -2px, 0);
}

.game-img-holder:hover em.remove-game,
.game-img-holder:focus em.remove-game {
  opacity: 1;
}

.game-img-holder.animate.ng-enter {
  top: -50px;
  max-width: 0px;
}

.game-img-holder.animate.ng-enter.ng-enter-active {
  top: 0px;
  max-width: 150px;
}

@keyframes my_animation {
  from {
    max-width: 150px;
    opacity: 1;
    top: 0;
  }
  to {
    max-width: 0;
    opacity: 0;
    top: -50px;
  }
}

.game-img-holder.animate.ng-leave {
  -webkit-animation:0.4s my_animation;
  -moz-animation:0.4s my_animation;
  -o-animation:0.4s my_animation;
  animation:0.4s my_animation;
  margin-right: 22px !important;
}

.game-img-holder.animate.ng-leave.ng-leave-active {
  margin-right: 0px !important;
}


//div.game-img-holder.animate.ng-enter.ng-enter-active,
//div.game-img-holder.animate.ng-leave{
  //opacity: 1;
//}

.game-img-holder em.remove-game {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: darkred;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
  font-size: 18px;
}
.game-img-holder em.remove-game:hover {
  background-color: red;
  cursor: pointer;
}

.game-img-holder.match-item {
  cursor: pointer;
}

.game-img-holder em.counter {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: darkred;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  font-size: 14px;
  padding: 2px 7px 0 7px;
  font-style: normal;
}

.game-img-holder .swap {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 23px);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}
.game-img-holder .swap:hover {
  cursor: pointer;
}

.game-img-holder:hover .swap,
.game-img-holder:focus .swap {
  opacity: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
