@import '../app/material/colors';

/* some layout customization */

.content-wrapper > div.keep-content-heading > h3 {
  // Not possible to use @extend as it does not support nested selectors.
  // Copy and pasting the whole style definition from "layout.scss" file.
  font-size: $font-size-h3;
  line-height: $headings-line-height;
  color: #929292;
  margin: -20px;
  margin-bottom: 20px;
  padding: 15px;
  font-weight: normal;
  background-color: $content-heading-bg;
  border-bottom: 1px solid $content-heading-border;
  > small {
    display: block;
    font-size: 12px;
    color: $text-muted;
  }
}

/* END some layout customization */

.user-flag {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.user-flag:hover {
  opacity: .7;
}

.user-flag img {
  width: 24px;
  height: 24px;
}

.profile-user {
  position: relative;
  padding: 25px 0 10px;
  @include clearfix();
  > .user-block-picture {
    position: relative;
    width: 90px;
    margin: 0 auto;
    > img {
      max-width: 100%;
      height: auto;
    }
  }

}

md-virtual-repeat-container {
  z-index: 9999 !important;
}

md-backdrop.md-select-backdrop {
  z-index:9998;
}

.md-select-menu-container {
  z-index: 9999 !important;
}

.uk-notify {
  z-index: 9999 !important;
}

/*
.popover,
.popover-title {
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: #fff;
  border: none !important;
}

.arrow,
.arrow:after {
  border-top-color: rgba(0, 0, 0, 0.6) !important;
  border-bottom-color: rgba(0, 0, 0, 0.6) !important;
  //border-left-color: #111 !important;
  //border-right-color: #111 !important;
}
*/

//.tour-backdrop {
//  z-index: 110 !important;
//}

.user-block {
  padding-right: 18px;
}

.user-img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  border: 2px solid #ddd;
  img {
    min-height: 90px;
    min-width: 90px;
    padding: 0;
  }
}
.user-img.center {
  margin: 0 auto;
}

.aside-collapsed {
  .user-block {
    padding-right: 18px !important;
  }
  .user-img.left-menu {
    height: 45px;
    width: 45px;
    img {
      min-height: 45px;
      min-width: 45px;
    }
  }
}

.user-img.clickable {
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.user-img.clickable:hover {
  opacity: 0.8;
}

.md-input-message-animation {
  opacity: 1 !important;
  visibility: visible !important;
}

button.md-primary {
  background-color: $mdc-blue-grey-900 !important;
}

.swap-indicator {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}

.swap-indicator .em {
  font-size: 14px;
}

.swap-indicator md-content {
  font-size: 14px;
}

.game-border-highlight {
  border: 2px solid #fff;
}

.game-border-highlight.highlighted {
  border: 2px solid color('warning');
}

.game-img-holder {

  position: relative;
  float: left;
  margin: 0 22px 22px 0;

  @include box-shadow(0 4px 4px 0 rgba(0,0,0,0.4));
  //@include translate3d(0, -1px, 0);

  //$game-t-function: cubic-bezier(0.25,0.8,0.25,1);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  // TODO: user transition() misin instead !!!
}

.panel-default .game-img-holder {
  margin: 0 15px 15px 0 !important;
}

.game-img-holder img {
  height: 100px;
}

.game-img-holder:hover,
.game-img-holder:focus {
  @include box-shadow(0 8px 8px 0 rgba(0,0,0,0.4));
  @include translate3d(0, -2px, 0);
}

.game-img-holder:hover em.remove-game,
.game-img-holder:focus em.remove-game {
  opacity: 1;
}

.game-img-holder.animate.ng-enter {
  top: -50px;
  max-width: 0px;
}

.game-img-holder.animate.ng-enter.ng-enter-active {
  top: 0px;
  max-width: 150px;
}

@keyframes my_animation {
  from {
    max-width: 150px;
    opacity: 1;
    top: 0;
  }
  to {
    max-width: 0;
    opacity: 0;
    top: -50px;
  }
}

.game-img-holder.animate.ng-leave {
  -webkit-animation:0.4s my_animation;
  -moz-animation:0.4s my_animation;
  -o-animation:0.4s my_animation;
  animation:0.4s my_animation;
  margin-right: 22px !important;
}

.game-img-holder.animate.ng-leave.ng-leave-active {
  margin-right: 0px !important;
}


//div.game-img-holder.animate.ng-enter.ng-enter-active,
//div.game-img-holder.animate.ng-leave{
  //opacity: 1;
//}

.game-img-holder em.remove-game {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: darkred;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
  font-size: 18px;
}
.game-img-holder em.remove-game:hover {
  background-color: red;
  cursor: pointer;
}

.game-img-holder.match-item {
  cursor: pointer;
}

.game-img-holder em.counter {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: darkred;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  font-size: 14px;
  padding: 2px 7px 0 7px;
  font-style: normal;
}

.game-img-holder .swap {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 23px);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}
.game-img-holder .swap:hover {
  cursor: pointer;
}

.game-img-holder:hover .swap,
.game-img-holder:focus .swap {
  opacity: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
