<div ng-controller="MatchesCtrl as ctrl" class="keep-content-heading">
   <h3>Matches
      <small>
         <md-switch ng-model="ctrl.showOngoingSwaps" aria-label="Show Ongoing Swaps" style="position: absolute; right: 3px; top: -5px;">Show Ongoing Swaps</md-switch>
         <md-switch ng-model="ctrl.showPendingSwaps" aria-label="Show Pending Swaps" style="position: absolute; right: 20px; top: 22px;">Show Pending Swaps</md-switch>
         <Some>description about matches...</Some>
      </small>
   </h3>
   <p ng-if="!ctrl.matches.length">No matches.</p>
   <div style="margin-right: 20px; float: left; max-width: 170px; height: 250px;" ng-repeat="match in ctrl.matches" ng-if="(ctrl.showOngoingSwaps || !match.ongoing) &amp;&amp; (ctrl.showPendingSwaps || !match.iwish.swap_pending)" class="card">
      <div class="card-item">
         <div ng-if="match.iwish.swap_pending" class="label label-warning swap-indicator">
            <div ng-class="StatusIcons[Status.pending]" class="em"></div>
            <md-tooltip md-direction="bottom">You have already requested this game for swapping.</md-tooltip>
         </div>
         <div ng-if="match.ongoing" class="label label-info swap-indicator">
            <div ng-class="StatusIcons[Status.ongoing]" class="em"></div>
            <md-tooltip md-direction="bottom">There is already a swap ongoing with this game.</md-tooltip>
         </div>
         <div ng-if="match.no_games_left" ng-style="match.iwish.swap_pending &amp;&amp; {right: '40px'}" class="label label-primary swap-indicator">
            <div class="em fa fa-frown-o"></div>
            <md-tooltip md-direction="bottom">All your games that matches this game are ongoing for swap.</md-tooltip>
         </div>
         <img ng-src="{{match.iwish.images.front_thumb_medium}}" alt="{{match.iwish.name}}" style="max-height: 170px;" class="img-responsive" />
         <md-tooltip md-direction="top">{{match.iwish.name}} ({{match.iwish.platform.name}})</md-tooltip>
      </div>
      <div class="card-offset pull-right">
         <button type="button" ng-click="ctrl.openMatch(match)" class="btn btn-info btn-circle btn-lg">
            <em class="icon-grid"></em>
            <md-tooltip md-direction="top">See all matches</md-tooltip>
         </button>
      </div>
      <div class="card-body">
         <h4 class="m0">
            <ng-pluralize count="match.count" when="{'one': '{{match.count}} match', 'other': '{{match.count}} matches'}"></ng-pluralize>
         </h4>
         <p style="padding-top: 5px;" class="m0">
            <ng-pluralize count="match.swaps.length" when="{'one': 'from {{match.swaps.length}} user', 'other': 'from {{match.swaps.length}} users'}"></ng-pluralize>
         </p>
      </div>
   </div>
</div>