md-dialog(aria-label="Contact Details", ng-cloak, flex="60")
    form
        md-toolbar
            .md-toolbar-tools
                h2 {{ ctrl.swapUser.first_name }} Contact Details
                span(flex)
                md-button.md-icon-button(ng-click="ctrl.close()")
                    md-icon(md-svg-src="app/img/icons/ic_close_24px.svg", aria-label="Close dialog")
        md-dialog-content
            .md-dialog-content
                h3(ng-if="msg")
                    span {{ ctrl.msg }}
                    br
                    br
                div.row()
                    div.col-md-4(style="width: 120px; margin: 0 auto 20px auto;")
                        .user-details
                            .user-img.center
                                img.img-thumbnail(ng-src='{{ ctrl.swapUser.picture }}', alt='{{ctrl.swapUser.name}}')
                            .user-info
                                p {{ ctrl.swapUser.first_name }} {{ swapUser.last_name }}
                                p
                                    user-ratings(user="ctrl.swapUser")
                                p {{ctrl.request.distance}}km far

                    div.col-md-4(style="white-space: nowrap; padding-left: 15px;")
                        table.table.bb: tbody
                            //tr
                            //    td: strong Name
                            //    td {{ ctrl.swapUser.first_name }} {{ swapUser.last_name }}
                            //tr(ng-if="ctrl.swapUser.gender")
                            //    td: strong Gender
                            //    td {{ ctrl.swapUser.gender }}
                            tr(ng-if="ctrl.swapUser.phone1")
                                td(style="width: 20px;")
                                    em.fa.fa-phone
                                    md-tooltip(md-direction="top") Phone
                                td
                                    span {{ ctrl.swapUser.phone1 }}
                            tr(ng-repeat="social in ctrl.swapUser.social_links")
                                td
                                    em(class="icon-social-{{ social[2] }}")
                                    md-tooltip(md-direction="top") {{ social[0] }} social account
                                td
                                    a(href="{{ social[1] }}", target="_blank") {{ social[0] }} account
                            tr
                                td
                                    em.icon-location-pin
                                    md-tooltip(md-direction="top") Address
                                td
                                    span {{ ctrl.swapUser.address.address1 }}
                                    br
                                    span {{ ctrl.swapUser.address.city }}
                                    br
                                    span {{ ctrl.swapUser.address.state }}
                                    br
                                    span {{ ctrl.swapUser.address.country.name }}
                    div.col-md-4(style="max-height: 300px; overflow: auto;")
                        p(ng-if="!ctrl.latestFeedbacks.length")
                            em.fa.fa-comments-o
                            span This user has no feedbacks yet.
                        h4(ng-if="ctrl.latestFeedbacks.length")
                            span {{ ctrl.swapUser.name }}'s latest feedbacks
                        user-latest-feedbacks(user="ctrl.swapUser" latestfeedbacks="ctrl.latestFeedbacks")
                br
                .gmap(ui-map='ctrl.contactDetailsMap', ui-options='ctrl.contactDetailsMapOptions', class="map-canvas")


        div(style="clear: both;")

        md-dialog-actions(layout="row")
            md-button(ng-click="ctrl.close()")
                span close

