md-dialog(aria-label="Contact Details", ng-cloak, flex="60")
    form
        md-toolbar
            .md-toolbar-tools
                h2 {{ ctrl.swapUser.first_name }} Contact Details
                span(flex)
                md-button.md-icon-button(ng-click="ctrl.close()")
                    md-icon(md-svg-src="app/img/icons/ic_close_24px.svg", aria-label="Close dialog")
        md-dialog-content
            .md-dialog-content
                h3(ng-if="msg")
                    span {{ ctrl.msg }}
                    br
                    br
                div.row()
                    div.col-md-2(style="margin: 0 auto 20px auto;")
                        .user-details
                            .user-img.center
                                img.img-thumbnail(ng-src='{{ ctrl.swapUser.picture }}', alt='{{ctrl.swapUser.name}}')
                            .user-info
                                p {{ ctrl.swapUser.first_name }} {{ swapUser.last_name }}
                                p
                                    user-ratings(user="ctrl.swapUser")
                                p {{ctrl.request.distance_display}} away
                                p(style="font-size: 11px;")
                                    strong(style="white-space: nowrap;") Member since<br>
                                    span(style="white-space: nowrap;") {{ ctrl.swapUser.joined }}

                    div.col-md-4(style="white-space: nowrap; padding-left: 15px;")
                        table.table.bb: tbody
                            //tr
                            //    td: strong Name
                            //    td {{ ctrl.swapUser.first_name }} {{ swapUser.last_name }}
                            //tr(ng-if="ctrl.swapUser.gender")
                            //    td: strong Gender
                            //    td {{ ctrl.swapUser.gender }}
                            tr(ng-if="ctrl.swapUser.email")
                                td(style="width: 20px;")
                                    em.icon-envelope-letter
                                    md-tooltip(md-direction="top") Email
                                td
                                    span {{ ctrl.swapUser.email }}
                            tr(ng-if="ctrl.swapUser.phone1")
                                td(style="width: 20px;")
                                    em.fa.fa-phone
                                    md-tooltip(md-direction="top") Phone
                                td
                                    span {{ ctrl.swapUser.phone1 }}
                            tr(ng-repeat="social in ctrl.swapUser.social_links")
                                td
                                    em(class="icon-social-{{ social[2] }}")
                                    md-tooltip(md-direction="top") {{ social[0] }} social account
                                td
                                    a(href="{{ social[1] }}", target="_blank") {{ social[0] }} account
                            tr
                                td
                                    em.icon-location-pin
                                    md-tooltip(md-direction="top") Address
                                td
                                    span(ng-if="ctrl.swapUser.show_full_address_allowed")
                                        span {{ ctrl.swapUser.address.address1 }}
                                        br
                                    span(ng-if="!ctrl.swapUser.show_full_address_allowed" style="-webkit-filter: blur(5px); -moz-filter: blur(5px);  -o-filter: blur(5px);  -ms-filter: blur(5px); filter: blur(5px)")
                                        span ?? ????? ????????
                                        br
                                        md-tooltip(md-direction="top")
                                            span(ng-if="ctrl.swapUser.gender == 'male'") Contact {{ ctrl.swapUser.name }} to get his full address
                                            span(ng-if="ctrl.swapUser.gender == 'female'") Contact {{ ctrl.swapUser.name }} to get her full address
                                            span(ng-if="!ctrl.swapUser.gender") Contact {{ ctrl.swapUser.name }} to get his/her full address

                                    span(ng-if="ctrl.swapUser.show_full_address_allowed")
                                        span {{ ctrl.swapUser.address.city }}
                                        br
                                    span(ng-if="!ctrl.swapUser.show_full_address_allowed" style="-webkit-filter: blur(5px); -moz-filter: blur(5px);  -o-filter: blur(5px);  -ms-filter: blur(5px); filter: blur(5px)")
                                        span ???? ????????
                                        br
                                        md-tooltip(md-direction="top")
                                            span(ng-if="ctrl.swapUser.gender == 'male'") Contact {{ ctrl.swapUser.name }} to get his full address
                                            span(ng-if="ctrl.swapUser.gender == 'female'") Contact {{ ctrl.swapUser.name }} to get her full address
                                            span(ng-if="!ctrl.swapUser.gender") Contact {{ ctrl.swapUser.name }} to get his/her full address
                                    span {{ ctrl.swapUser.address.state }}
                                    br
                                    span {{ ctrl.swapUser.address.country.name }}

                        div(style="float: right; margin-right: 14px;")
                            a(href="javascript:;" ng-click="ctrl.reportUser()" style="text-decoration: none;")
                                .label.label-danger Report this user!
                        div(style="clear: both; margin-bottom: 20px;")

                    div.col-md-6
                        .pull-right.label.label-danger
                            span {{ ctrl.swapUser.negative_feedback_count }}
                            md-tooltip(md-direction="top") Negative feedback
                        .pull-right.label.label-default(style="color: #333; margin-right: 10px;")
                            span {{ ctrl.swapUser.neutral_feedback_count }}
                            md-tooltip(md-direction="top") Neutral feedback
                        .pull-right.label.label-success(style="margin-right: 10px;")
                            span {{ ctrl.swapUser.positive_feedback_count }}
                            md-tooltip(md-direction="top") Success feedback

                        p(ng-if="!ctrl.recentFeedback.items.length")
                            em.fa.fa-comments-o
                            span No feedback yet.
                        h4(ng-if="ctrl.recentFeedback.items.length" style="margin-top: 0px;")
                            span {{ ctrl.swapUser.name }}'s recent feedback (showing {{ ctrl.recentFeedback.items.length }} of {{ ctrl.recentFeedback.total }})
                        .contact-user-feedback
                            user-recent-feedback(user="ctrl.swapUser" recentfeedback="ctrl.recentFeedback")
                br
                .gmap(ui-map='ctrl.contactDetailsMap', ui-options='ctrl.contactDetailsMapOptions', class="map-canvas")


            div(style="clear: both;")
            div(style="height: 50px;")

        .dialog-bottom-fade

        md-dialog-actions(layout="row")
            button.btn.mb-sm.btn-default.btn-labeled(ng-click="ctrl.close()")
                span.btn-label
                    em.fa.fa-close
                span Close