div.keep-content-heading(ng-controller='RequestsCtrl as ctrl')
    button.btn.btn-default.btn-circle.btn-lg.bg-gray(type="button" ng-click="ctrl.confirmArchiveAllRequests()" nng-if="ctrl.hasClosedRequests()" style="float: right; margin-top: 3px;")
        em.fa.fa-archive
        md-tooltip(md-direction="top") Archive all finished requests
    h3 Incoming Requests

    .card.request-item.animate(ng-repeat='request in ctrl.incomingRequests track by request.id' request-id="{{ request.id }}")
        ng-include(src="'app/views/requests/items.partial.html'", onload="user=request.requester; context='incomingRequests'")

    p(ng-if="!ctrl.incomingRequests.length && ctrl.incomingRequestsLoaded" style="margin-bottom: 40px;") No incoming requests.
    .ball-pulse(ng-if="!ctrl.incomingRequestsLoaded" style="margin-bottom: 40px;")
        div
        div
        div

    div(style="clear: both; margin-bottom: 20px;")

    h3 My Requests
      small &nbsp;

    .card.request-item.animate(ng-repeat='request in ctrl.myRequests track by request.id' request-id="{{ request.id }}")
        ng-include(src="'app/views/requests/items.partial.html'", onload="user=request.requested; context='myRequests'")

    p(ng-if="!ctrl.myRequests.length && ctrl.myRequestsLoaded") No requests.
    .ball-pulse(ng-if="!ctrl.myRequestsLoaded")
        div
        div
        div

    div(style="clear: both; margin-bottom: 20px;")
