md-dialog(aria-label="{{ ctrl.title }}", ng-cloak)
    form(name='profileForm', ng-submit="ctrl.submit($event)")
        md-toolbar
            .md-toolbar-tools
                h2 {{ ctrl.title }}
                span(flex)
                md-button.md-icon-button(ng-click="ctrl.close($event)")
                    md-icon(md-svg-src="app/img/icons/ic_close_24px.svg", aria-label="Close dialog")
        md-dialog-content
            .md-dialog-content(style="min-width: 320px; max-width: 550px;")
                div(style="margin: 0 auto; max-width: 260px;")
                    user-photo-ratings-distance(user="ctrl.swapUser" onfeedbacksclose="ctrl.openRequestSwapCallback" hidefeedbacks="true" distance="ctrl.request.distance")
                br
                div(layout="row" style="width: 250px; margin: 0 auto;")
                    flex(style="position: relative;")
                        .label.label-warning.swap-indicator(ng-if="ctrl.iwish.swap_pending")
                            .em.fa.fa-ellipsis-h
                            md-tooltip(md-direction="bottom") You have already a pending Swap Request for this game.
                        img.img-responsive(ng-src='{{ctrl.iwish.images.front_thumb_medium}}', alt='{{ctrl.iwish.name}}', style="max-height: 170px;")
                        md-tooltip(md-direction="top") {{ctrl.iwish.name}} ({{ctrl.iwish.platform.name}})
                    flex(style="z-index: 1;")
                        button.btn.btn-default.btn-circle.btn-lg(type="button", ng-click="", style="margin: 0 -20px 0 -20px; font-size: 24px; margin-top: 45px;")
                            em.fa.fa-exchange
                    flex(style="position: relative;")
                        .label.label-warning.swap-indicator(ng-if="ctrl.game.swap_pending")
                            .em.fa.fa-ellipsis-h
                            md-tooltip(md-direction="bottom") You have already a pending Swap Request for this game.
                        img.img-responsive(ng-src='{{ctrl.game.images.front_thumb_medium}}', alt='{{ctrl.game.name}}', style="max-height: 170px;")
                        md-tooltip(md-direction="top") {{ctrl.game.name}} ({{ctrl.game.platform.name}})
                br
                p(ng-if="!ctrl.latestFeedbacks.length" style="text-align: center;")
                    em.fa.fa-comments-o
                    span This user has no feedback yet.
                a(ng-if="ctrl.latestFeedbacks.length" href="javascript:;" ng-click="ctrl.toggleFeedbacks()")
                    p(style="text-align: center;")
                        em.fa.fa-comments-o
                        span Show/hide latest {{ ctrl.user.name }}'s feedback
                div#feedbacks(style="display:none;")
                    user-latest-feedbacks(user="ctrl.user" latestfeedbacks="ctrl.latestFeedbacks")
                br
                div(layout="row" ng-if="ctrl.requesterGameConditionNotes")
                    p
                        span {{ ctrl.user.name }} provided information about the "{{ ctrl.iwish.name }}" game condition:
                div(layout="row" ng-if="ctrl.requesterGameConditionNotes")
                    p
                        .media.shadow-z1(style="font-style: italic; padding: 0 10px;")
                            .media-left.media-middle
                                a(href='#')
                                    img.media-object.img-circle.img-thumbnail.thumb48(ng-src='{{ ctrl.user.picture }}', alt='{{ctrl.user.name}}')
                            .media-body.pt-sm(style="width: auto;")
                                p.mv-lg "{{ ctrl.requesterGameConditionNotes }}"
                div(layout="row")
                    span &nbsp;
                div(layout="row")
                    div(flex=15)
                        em.fa.fa-info-circle.text-info(style="font-size: 40px;") &nbsp
                    flex(style="text-align: justify;")
                        span(ng-if="!ctrl.requesterGameConditionNotes") Please provide information about your game condition in the field below:
                        span(ng-if="ctrl.requesterGameConditionNotes") Please provide information about your game condition in the field below:
                br
                // XXX: The fields "requester_game_condition" and "requested_game_condition" were removed for a while...
                    div(layout='', layout-sm='column')
                        md-input-container(flex='', layout-sm='column', ng-class="{'md-input-invalid': errors.requester_game_condition}")
                            label Usage condition
                            md-radio-group(ng-model='data.requester_game_condition', required)
                                div(layout="row", style="margin-top: 35px")
                                    div(flex="33", ng-repeat="option in usageConditionOptions")
                                        md-radio-button(ng-value="option.id", aria-label="option.label", required) {{ option.label }}
                            .md-errors-spacer(ng-repeat="error in errors.requester_game_condition")
                                .md-char-counter {{error}}
                div(layout='', layout-sm='column')
                    md-input-container(flex='', layout-sm='column')
                        label My game condition
                        input(ng-model='ctrl.data.requester_game_condition_notes', ng-if="ctrl.data.requester_game_condition_notes !== undefined")
                        input(ng-model='ctrl.data.requested_game_condition_notes', ng-if="ctrl.data.requested_game_condition_notes !== undefined")

        md-dialog-actions(layout="row")
            button.btn.mb-sm.btn-labeled.btn-default(ng-click="ctrl.close($event)")
                span.btn-label
                    em.fa.fa-close
                span Cancel
            button.btn.mb-sm.btn-labeled(ng-repeat="action in ctrl.actionButtons" ng-click="action.action($event)" ng-class="action.class" style="margin-left: 10px;")
                span.btn-label
                    em(ng-class="action.icon")
                span {{ action.title }}
