h3 Archived Requests
    //small Some description about archived requests...

.container-fluid(ng-controller='ArchivedRequestsCtrl as ctrl')
    .panel.panel-default
        .panel-heading
            //.panel-title Archived requests

        table.table.ng-table-rowselected(ng-table='ctrl.tableParams')
            tr
                th Game I wish
                th Game I own
                th User
                th Status
            tr(ng-if="!ctrl.loaded")
                td
                    .ball-pulse(style="margin: 0 auto; text-align: center;")
                        div
                        div
                        div
            tr(ng-repeat=" request in ctrl.archivedRequests")
                td(data-title="'Game I wish'")
                    span(ng-if="request.requester.id == user.id") {{ request.requested_game.full_name }}
                    span(ng-if="request.requested.id == user.id")  {{ request.requester_game.full_name }}
                td(data-title="'Game I own'")
                    span(ng-if="request.requester.id == user.id")  {{ request.requester_game.full_name }}
                    span(ng-if="request.requested.id == user.id") {{ request.requested_game.full_name }}
                td(data-title="'User'")
                    span(ng-if="request.requester.id != user.id") {{ request.requester.name }}
                    span(ng-if="request.requested.id != user.id") {{ request.requested.name }}
                td(data-title="'Status'")
                    status-display(request="request")
                    md-tooltip(md-direction="top") {{ request.status_history_display }}
                //td(data-title="'Delete'")
                //    .mb
                //        label.mda-checkbox
                //            input(type='checkbox')
                //            em.bg-indigo-500

        //.panel-body
        //    strong panel body
