<h3>Games
   <small>Some description about games...</small>
</h3>
<div class="row">
   <div class="col-lg-6">
      <div class="card collection-card">
         <div class="card-heading bg-primary">
            <div class="card-title">My Collection</div>
         </div>
         <div class="card-body">
            <ng-include src="'app/views/games/items.partial.html'" ng-controller="GamesCtrl as ctrl" onload="context='collection'; ctrl.gameTour()"></ng-include>
         </div>
      </div>
   </div>
   <div class="col-lg-6">
      <div class="card wishlist-card">
         <div class="card-heading bg-primary">
            <div class="card-title">Wish list</div>
         </div>
         <div class="card-body">
            <ng-include src="'app/views/games/items.partial.html'" ng-controller="GamesCtrl as ctrl" onload="context='wishlist'"></ng-include>
         </div>
      </div>
   </div>
</div>