h3 Invite
  //small Some description about invite...

.row
    .col-lg-2
        span
    .col-lg-8(style="text-align: center;")
        h2 Invite friends to help increasing the Let'SwapGames community
        br
        h3
            span.st_facebook_large(displayText='Facebook')
            span.st_twitter_large(displayText='Tweet')
            span.st_googleplus_large(displayText='Google +')
            span.st_whatsapp_large(displayText='WhatsApp')
            span.st_email_large(displayText='Email')
            span.st_sharethis_large(displayText='ShareThis')
        br
        script.
            stButtons.locateElements();
        h1(style="color: #ccc; font-size: 80px;")
            em.fa.fa-group
    .col-lg-2
        span
