<ul>
    {% for user, match in matches %}
        <li {% if user.id == 1 %}style="color: #DDD"{% endif %}>
            <h3 {% if not match %}style="color: #F08047"{% endif %}>{{ user.full_name }} - {{ user.address }}</h3>
            {% for item in match %}
                <div>
                    <div>
                        {% if item.iwish.is_similar %}<img src="/app/app/img/similar-78.png" height="30px;">{% endif %}
                        <strong>Game:</strong>
                        <span>{{ item.iwish.full_name }}</span>
                    </div>
                    <div>
                        <ul>
                            {% for swap in item.swaps %}
                                <li>
                                    <strong {% if swap.user.full_name == 'Paul Murphy' %}style="color: #DDD"{% endif %}>From {{ swap.user.name }}:</strong>
                                    <ol style="list-style-type: decimal;">
                                        {% for game in swap.wanted_games %}
                                            <li style="list-style-type: decimal;">
                                                {{ game.full_name }},
                                            </li>
                                        {% endfor %}
                                    </ol>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </li>
    {% endfor %}
</ul>