{% extends "admin/base_site.html" %}
{% load admin_static %}
{% load i18n %}

{% block extrahead %}
  {{ block.super }}
{% endblock extrahead %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; Statistics
    </div>
{% endblock %}

{% block object-tools %}
    {{super}}
    <h1>Statistics</h1>
    <h2>All matches</h2>
    <div id="matches">
        {% include 'admin/matches.html' %}
    </div>

    <h2>Requests from all users</h2>
    <div id="request">
        <ul>
            {% for swap_request in requests %}
                <li>
                    {{ swap_request }}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}