div(style="float: right;")
    span.st_facebook
    span.st_twitter
    span.st_googleplus.hidden-xs.hidden-sm
    span.st_whatsapp
    span.st_email
    span.st_sharethis.hidden-xs.hidden-sm

span
  | &copy; 
  | {{app.year}}
  |  - {{ app.name }}
