// START Top Navbar
nav.navbar.topnavbar(role='navigation')
    // START navbar header
    .navbar-header
        a.navbar-brand(href='#/')
            .brand-logo
                //img.img-responsive(src="app/img/logo.png", alt="App Logo")
                img.img-responsive(src="app/img/logo-77x40.png", alt="Let'SwapGames" style="//margin-top: -7px;")
                //div(style="color: #fff; font-size: 11px; margin-top: -3px;") Let'SwapGames
            .brand-logo-collapsed
                //img.img-responsive(src="app/img/logo-single.png", alt="App Logo")
                img.img-responsive(src="app/img/logo-77x40.png", alt="Let'SwapGames" style="margin-top: 10px;")

    .nav-wrapper

        div.lsg-nav.hidden-xs(style="float: right;")
            a(href='javascript:;' ng-click="globalCtrl.signOut()")
                em.icon-logout
                md-tooltip(md-direction="bottom") Log out

        ul.nav.navbar-nav.top-indicators
            li
                // Button to show/hide the sidebar on mobile. Visible on mobile only.
                a.sidebar-toggle.matches-indicator(href='/app/#/app/matches', md-ink-ripple, ng-click="markMatchesIndicatorAsRead()")
                    em.fa.fa-exchange(ng-class="{active: matches.length && !matchesIndicatorRead}")
                        .label.label-danger(ng-if="matches.length && !matchesIndicatorRead"
                                            animate-model-change model="{{matches.length}}" increment-class="animate-up" decrement-class="animate-down")
                            | {{matches.length}}
                    md-tooltip.hidden-xs(md-direction="bottom") Matches
            li
                a.sidebar-toggle.requests-indicator(href='/app/#/app/requests', md-ink-ripple, ng-click="markRequestsIndicatorAsRead()")
                    em.fa.fa-hand-o-up(ng-class="{active: (myRequests.length || incomingRequests.length) && !requestsIndicatorRead}")
                        .label.label-danger(ng-if="(myRequests.length || incomingRequests.length) && !requestsIndicatorRead"
                                            animate-model-change model="{{myRequests.length + incomingRequests.length}}" increment-class="animate-up" decrement-class="animate-down")
                            | {{ myRequests.length + incomingRequests.length }}
                    md-tooltip.hidden-xs(md-direction="bottom") Requests

            li
                // Button to show/hide the sidebar on mobile. Visible on mobile only.
                a(href='', ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
                    em.fa.fa-navicon
                    md-tooltip(md-direction="bottom") Menu

