<md-dialog aria-label="Contact Details" ng-cloak="ng-cloak" style="max-width: 600px;">
   <form>
      <md-toolbar>
         <div class="md-toolbar-tools">
            <h2>Contact Details</h2>
            <span flex="flex"></span>
            <md-button ng-click="ctrl.close()" class="md-icon-button">
               <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
         </div>
      </md-toolbar>
      <md-dialog-content>
         <div class="md-dialog-content">
            <h3 ng-if="msg">
               <span>{{ ctrl.msg }}</span>
               <br/>
               <br/>
            </h3>
            <div layout="row">
               <div flex="20">
                  <div class="user-img center">
                     <img ng-src="{{ ctrl.swapUser.picture }}" alt="{{ctrl.swapUser.name}}" class="img-thumbnail" />
                  </div>
               </div>
               <div flex="80" style="white-space: nowrap; padding-left: 15px;">
                  <table class="table bb">
                     <tbody>
                        <tr>
                           <td>
                              <strong>Username</strong>
                           </td>
                           <td>{{ ctrl.swapUser.name }}</td>
                        </tr>
                        <tr>
                           <td>
                              <strong>Name</strong>
                           </td>
                           <td>{{ ctrl.swapUser.first_name }} {{ swapUser.last_name }}</td>
                        </tr>
                        <tr ng-if="swapUser.gender">
                           <td>
                              <strong>Gender</strong>
                           </td>
                           <td>{{ ctrl.swapUser.gender }}</td>
                        </tr>
                        <tr ng-if="swapUser.phone1">
                           <td>
                              <strong>Phone 1</strong>
                           </td>
                           <td>{{ ctrl.swapUser.phone1 }}</td>
                        </tr>
                        <tr ng-if="swapUser.phone2">
                           <td>
                              <strong>Phone 2</strong>
                           </td>
                           <td>{{ ctrl.swapUser.phone2 }}</td>
                        </tr>
                        <tr>
                           <td>
                              <strong>Address</strong>
                           </td>
                           <td>{{ ctrl.swapUser.address.address1 }}, {{ ctrl.swapUser.address.city }}, {{ ctrl.swapUser.address.state }}, {{ ctrl.swapUser.address.country }}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <br/>
            <div ui-map="ctrl.contactDetailsMap" ui-options="ctrl.contactDetailsMapOptions" class="gmap map-canvas"></div>
         </div>
      </md-dialog-content>
      <div style="clear: both;"></div>
      <md-dialog-actions layout="row">
         <md-button ng-click="ctrl.close()">
            <span>close</span>
         </md-button>
      </md-dialog-actions>
   </form>
</md-dialog>