<md-dialog aria-label="Finalize this request" ng-cloak="ng-cloak">
   <form name="finalizeForm" ng-submit="finalizeForm.$valid &amp;&amp; ctrl.finalizeRequest($event)">
      <md-toolbar>
         <div class="md-toolbar-tools">
            <h2>Finalize this request</h2>
            <span flex="flex"></span>
            <md-button ng-click="ctrl.close($event)" class="md-icon-button">
               <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
         </div>
      </md-toolbar>
      <md-dialog-content>
         <div style="min-width: 320px; max-width: 550px;" class="md-dialog-content">
            <div layout="row" style="width: 250px; margin: 0 auto;">
               <flex style="position: relative;">
                  <img ng-src="{{ctrl.iwish.images.front_thumb_medium}}" alt="{{ctrl.iwish.name}}" style="max-height: 170px;" class="img-responsive" />
                  <md-tooltip md-direction="top">{{ctrl.iwish.name}} ({{ctrl.iwish.platform.name}})</md-tooltip>
               </flex>
               <flex style="z-index: 1;">
                  <button type="button" ng-click="" style="margin: 0 -20px 0 -20px; font-size: 24px; margin-top: 45px;" class="btn btn-default btn-circle btn-lg">
                     <em class="fa fa-exchange"></em>
                  </button>
               </flex>
               <flex style="position: relative;">
                  <img ng-src="{{ctrl.game.images.front_thumb_medium}}" alt="{{ctrl.game.name}}" style="max-height: 170px;" class="img-responsive" />
                  <md-tooltip md-direction="top">{{ctrl.game.name}} ({{ctrl.game.platform.name}})</md-tooltip>
               </flex>
            </div>
            <br/>
            <div layout="" layout-sm="column">
               <md-input-container flex="" md-is-error="finalizeForm.swapped.$invalid &amp;&amp; (finalizeForm.$submitted || finalizeForm.swapped.$dirty)">
                  <md-radio-group ng-model="ctrl.data.swapped" ng-required="true" name="swapped">
                     <div layout="row">
                        <label>Were the games swapped?</label>
                     </div>
                     <div layout="row" style="margin-top: 30px">
                        <div flex="50">
                           <md-radio-button ng-value="false">No</md-radio-button>
                        </div>
                        <div flex="50">
                           <md-radio-button ng-value="true">Yes</md-radio-button>
                        </div>
                     </div>
                  </md-radio-group>
                  <ng-messages for="finalizeForm.swapped.$error" ng-if="finalizeForm.$submitted || finalizeForm.swapped.$touched" role="alert" md-auto-hide="false" ng-show="finalizeForm.swapped.$touched">
                     <ng-message when="required">This field is required</ng-message>
                  </ng-messages>
               </md-input-container>
            </div>
            <div layout="" layout-sm="column">
               <md-input-container flex="" md-is-error="finalizeForm.other_feedback.$invalid &amp;&amp; (finalizeForm.$submitted || finalizeForm.other_feedback.$dirty)">
                  <md-radio-group ng-model="ctrl.data.other_feedback" ng-required="true" name="other_feedback">
                     <div layout="row">
                        <label>Feedback</label>
                     </div>
                     <div layout="row" style="margin-top: 30px">
                        <div flex="33">
                           <md-radio-button ng-value="-1">Negative</md-radio-button>
                        </div>
                        <div flex="33">
                           <md-radio-button ng-value="0">Neutral</md-radio-button>
                        </div>
                        <div flex="33">
                           <md-radio-button ng-value="1">Positive</md-radio-button>
                        </div>
                     </div>
                  </md-radio-group>
                  <ng-messages for="finalizeForm.other_feedback.$error" ng-if="finalizeForm.$submitted || finalizeForm.other_feedback.$touched" role="alert" md-auto-hide="false" ng-show="finalizeForm.other_feedback.$touched">
                     <ng-message when="required">This field is required</ng-message>
                  </ng-messages>
               </md-input-container>
            </div>
            <div layout="" layout-sm="column">
               <md-input-container flex="">
                  <label>Feedback notes</label>
                  <textarea ng-model="ctrl.data.other_feedback_notes" md-maxlength="1024" rows="5" md-select-on-focus="md-select-on-focus" required="required"></textarea>
               </md-input-container>
            </div>
            <br/>
         </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
         <button ng-click="ctrl.close($event)" class="btn mb-sm btn-labeled btn-default">
            <span class="btn-label">
               <em class="fa fa-close"></em>
            </span>
            <span>Cancel</span>
         </button>
         <button type="submit" style="margin-left: 10px;" class="btn mb-sm btn-labeled btn-primary">
            <span class="btn-label">
               <em class="fa fa-power-off"></em>
            </span>
            <span>Finalize</span>
         </button>
      </md-dialog-actions>
   </form>
</md-dialog>