<div class="card-item">
   <div layout="row">
      <flex ng-if="context == 'myRequests'">
         <img ng-src="{{request.requested_game.images.front_thumb_medium}}" alt="{{request.requested_game.name}}" style="max-height: 170px;" class="img-responsive" />
         <md-tooltip md-direction="top">{{request.requested_game.name}} ({{request.requested_game.platform.name}})</md-tooltip>
      </flex>
      <flex ng-if="context == 'incomingRequests'">
         <img ng-src="{{request.requester_game.images.front_thumb_medium}}" alt="{{request.requester_game.name}}" style="max-height: 170px;" class="img-responsive" />
         <md-tooltip md-direction="top">{{request.requester_game.name}} ({{request.requester_game.platform.name}})</md-tooltip>
      </flex>
      <flex style="z-index: 1;">
         <button type="button" ng-click="" style="margin: 0 -20px 0 -20px; font-size: 24px; margin-top: 60px;" class="btn btn-default btn-circle btn-lg">
            <em class="fa fa-exchange"></em>
         </button>
      </flex>
      <flex ng-if="context == 'myRequests'">
         <img ng-src="{{request.requester_game.images.front_thumb_medium}}" alt="{{request.requester_game.name}}" style="max-height: 170px;" class="img-responsive" />
         <md-tooltip md-direction="top">{{request.requester_game.name}} ({{request.requester_game.platform.name}})</md-tooltip>
      </flex>
      <flex ng-if="context == 'incomingRequests'">
         <img ng-src="{{request.requested_game.images.front_thumb_medium}}" alt="{{request.requested_game.name}}" style="max-height: 170px;" class="img-responsive" />
         <md-tooltip md-direction="top">{{request.requested_game.name}} ({{request.requested_game.platform.name}})</md-tooltip>
      </flex>
   </div>
</div>
<div class="card-offset">
   <any ng-if="context == 'myRequests'">
      <button type="button" ng-click="ctrl.confirmCancelRequest(request)" ng-if="request.isPending()" class="btn btn-danger btn-circle btn-lg">
         <em class="fa fa-close"></em>
         <md-tooltip md-direction="top">Cancel</md-tooltip>
      </button>
   </any>
   <any ng-if="context == 'incomingRequests'">
      <button type="button" ng-click="ctrl.openAcceptRequestDialog(request)" ng-if="request.isPending()" style="margin-right: 5px;" class="btn btn-success btn-circle btn-lg">
         <em class="fa fa-thumbs-up"></em>
         <md-tooltip md-direction="top">Accept</md-tooltip>
      </button>
      <button type="button" ng-click="ctrl.confirmRefuseRequest(request)" ng-if="request.isPending()" class="btn btn-danger btn-circle btn-lg">
         <em class="fa fa-thumbs-down"></em>
         <md-tooltip md-direction="top">Refuse</md-tooltip>
      </button>
   </any>
   <!-- common buttons below-->
   <any>
      <button type="button" ng-click="ctrl.showContactDetails(request, context)" ng-if="request.isOngoing()" style="margin-right: 5px;" class="btn btn-info btn-circle btn-lg">
         <em class="fa fa-phone"></em>
         <md-tooltip md-direction="top">Contact details</md-tooltip>
      </button>
      <button type="button" ng-click="ctrl.openFinalizeRequestDialog(request)" ng-if="request.isOngoing() || (request.isFinalizing() &amp;&amp; !request.isFinalizedByAuthenticatedUser())" class="btn btn-default btn-circle btn-lg bg-primary">
         <em class="fa fa-power-off"></em>
         <md-tooltip md-direction="top">Finalize it!</md-tooltip>
      </button>
      <button type="button" ng-click="ctrl.confirmArchiveRequest(request)" ng-if="request.isClosed()" class="btn btn-default btn-circle btn-lg bg-gray">
         <em class="fa fa-archive"></em>
         <md-tooltip md-direction="top">Archive</md-tooltip>
      </button>
   </any>
</div>
<div class="card-body">
   <user-photo-ratings-distance user="user" distance="request.distance"></user-photo-ratings-distance>
   <div style="position: absolute; right: 15px; bottom: 25px;" class="pull-right mt">
      <status-display request="request"></status-display>
   </div>
</div>