<md-dialog aria-label="{{ ctrl.title }}" ng-cloak="ng-cloak">
   <form name="profileForm" ng-submit="ctrl.submit($event)">
      <md-toolbar>
         <div class="md-toolbar-tools">
            <h2>{{ ctrl.title }}</h2>
            <span flex="flex"></span>
            <md-button ng-click="ctrl.close($event)" class="md-icon-button">
               <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
         </div>
      </md-toolbar>
      <md-dialog-content>
         <div style="min-width: 320px; max-width: 550px;" class="md-dialog-content">
            <div layout="row" style="width: 250px; margin: 0 auto;">
               <flex style="position: relative;">
                  <div ng-if="ctrl.iwish.swap_pending" class="label label-warning swap-indicator">
                     <div class="em fa fa-ellipsis-h"></div>
                     <md-tooltip md-direction="bottom">You have already a pending Swap Request for this game.</md-tooltip>
                  </div>
                  <img ng-src="{{ctrl.iwish.images.front_thumb_medium}}" alt="{{ctrl.iwish.name}}" style="max-height: 170px;" class="img-responsive" />
                  <md-tooltip md-direction="top">{{ctrl.iwish.name}} ({{ctrl.iwish.platform.name}})</md-tooltip>
               </flex>
               <flex style="z-index: 1;">
                  <button type="button" ng-click="" style="margin: 0 -20px 0 -20px; font-size: 24px; margin-top: 45px;" class="btn btn-default btn-circle btn-lg">
                     <em class="fa fa-exchange"></em>
                  </button>
               </flex>
               <flex style="position: relative;">
                  <div ng-if="ctrl.game.swap_pending" class="label label-warning swap-indicator">
                     <div class="em fa fa-ellipsis-h"></div>
                     <md-tooltip md-direction="bottom">You have already a pending Swap Request for this game.</md-tooltip>
                  </div>
                  <img ng-src="{{ctrl.game.images.front_thumb_medium}}" alt="{{ctrl.game.name}}" style="max-height: 170px;" class="img-responsive" />
                  <md-tooltip md-direction="top">{{ctrl.game.name}} ({{ctrl.game.platform.name}})</md-tooltip>
               </flex>
            </div>
            <br/>
            <div layout="row" ng-if="ctrl.requesterGameConditionNotes">
               <p>
                  <span>The user</span>
                  <strong>{{ ctrl.user.name }}</strong>
                  <span>provided information about his game usage condition:</span>
                  <div style="font-style: italic; padding: 0 10px;" class="media shadow-z1">
                     <div class="media-left media-middle">
                        <a href="#">
                           <img ng-src="{{ ctrl.user.picture }}" alt="{{ctrl.user.name}}" class="media-object img-circle img-thumbnail thumb48" />
                        </a>
                     </div>
                     <div style="width: auto;" class="media-body pt-sm">
                        <p class="mv-lg">"{{ ctrl.requesterGameConditionNotes }}"</p>
                     </div>
                  </div>
                  <br/>
               </p>
            </div>
            <div layout="row">
               <div flex="15">
                  <em style="font-size: 40px;" class="fa fa-info-circle text-info">&nbsp</em>
               </div>
               <flex style="text-align: justify;">
                  <span ng-if="!ctrl.requesterGameConditionNotes">Please consider providing information about your game usage condition in the field below:</span>
                  <span ng-if="ctrl.requesterGameConditionNotes">Please consider as well providing information about your game usage condition before accepting the Swap Request in the field below:</span>
               </flex>
            </div>
            <br/>
            <!-- XXX: The fields "requester_game_condition" and "requested_game_condition" were removed for a while...div(layout='', layout-sm='column')
    md-input-container(flex='', layout-sm='column', ng-class="{'md-input-invalid': errors.requester_game_condition}")
        label Usage condition
        md-radio-group(ng-model='data.requester_game_condition', required)
            div(layout="row", style="margin-top: 35px")
                div(flex="33", ng-repeat="option in usageConditionOptions")
                    md-radio-button(ng-value="option.id", aria-label="option.label", required) {{ option.label }}
        .md-errors-spacer(ng-repeat="error in errors.requester_game_condition")
            .md-char-counter {{error}}-->
            <div layout="" layout-sm="column">
               <md-input-container flex="" layout-sm="column">
                  <label>My game usage condition</label>
                  <input ng-model="ctrl.data.requester_game_condition_notes" ng-if="ctrl.data.requester_game_condition_notes !== undefined" />
                  <input ng-model="ctrl.data.requested_game_condition_notes" ng-if="ctrl.data.requested_game_condition_notes !== undefined" />
               </md-input-container>
            </div>
         </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
         <button ng-click="ctrl.close($event)" class="btn mb-sm btn-labeled btn-default">
            <span class="btn-label">
               <em class="fa fa-close"></em>
            </span>
            <span>Cancel</span>
         </button>
         <button ng-repeat="action in ctrl.actionButtons" ng-click="action.action($event)" ng-class="action.class" style="margin-left: 10px;" class="btn mb-sm btn-labeled">
            <span class="btn-label">
               <em ng-class="action.icon"></em>
            </span>
            <span>{{ action.title }}</span>
         </button>
      </md-dialog-actions>
   </form>
</md-dialog>