<div class="abs-center wd-xl">
   <!-- START panel-->
   <div class="text-center mb-xl">
      <div class="mb-lg">
         <em class="fa fa-ban fa-5x text-muted"></em>
      </div>
      <div class="text-lg mb-lg">403</div>
      <p class="lead m0">Forbidden!</p>
      <p>You don't have permission to access this page.</p>
      <p>Please try one of the following links:</p>
   </div>
   <ul class="list-inline text-center text-sm mb-xl">
      <li><a href="" ui-sref="app.welcome" class="text-muted">Go to App</a>
      </li>
      <li class="text-muted">|</li>
      <li><a href="" ui-sref="pages.signIn" class="text-muted">Login</a>
      </li>
   </ul>
   <div class="p-lg text-center">
      <img src="app/img/logo-96x50.full.png" alt="Let'SwapGames" style="margin-bottom: 8px; height: 30px;" class="block-center img-responsive" />
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>