<div class="md-welcome">
   <div class="md-welcome-msg">
      <div class="container container-md">
         <h1 class="animated fadeInDown anim-delay-10">Let'SwapGames</h1>
         <h2 class="animated fadeInLeft anim-delay-15">FREE FOR LIFE, BY GAMERS FOR GAMERS</h2>
      </div>
   </div>
</div>
<div ng-controller="WelcomeCtrl as ctrl" class="container container-md">
   <div class="row md-welcome-row">
      <div class="col-md-4">
         <a href="#/app/dashboard">
            <div md-ink-ripple="md-ink-ripple" class="card animated fadeInDown anim-delay-30 dashboard">
               <div class="card-body">
                  <p class="lead text-bold"><i class="icon-graph">&nbsp;</i>
                     <span>Dashboard</span>
                  </p>See general info and statistics about your games, matches and requests.</div>
            </div>
         </a>
      </div>
      <div class="col-md-4 profile-col">
         <a href="#/app/profile" ng-click="ctrl.tour.end()">
            <div md-ink-ripple="md-ink-ripple" class="card animated fadeInDown anim-delay-20 profile">
               <div class="card-body">
                  <p class="lead text-bold"><i class="icon-user">&nbsp;</i>
                     <span>Profile</span>
                  </p>Change your personal details, address and determine the consoles you have.</div>
            </div>
         </a>
      </div>
      <div class="col-md-4">
         <a href="#/app/games">
            <div md-ink-ripple="md-ink-ripple" class="card animated fadeInDown anim-delay-25 games">
               <div class="card-body">
                  <p class="lead text-bold"><i class="icon-game-controller">&nbsp;</i>
                     <span>Games</span>
                  </p>Manage your games collection and your wish list.</div>
            </div>
         </a>
      </div>
   </div>
   <div class="row md-welcome-row">
      <div class="col-md-4">
         <a href="#/app/matches">
            <div md-ink-ripple="md-ink-ripple" class="card animated fadeInDown anim-delay-30 matches">
               <div class="card-body">
                  <p class="lead text-bold"><i class="icon-people">&nbsp;</i>
                     <span>Matches</span>
                  </p>See all matches.</div>
            </div>
         </a>
      </div>
      <div class="col-md-4">
         <a href="#/app/requests">
            <div md-ink-ripple="md-ink-ripple" class="card animated fadeInDown anim-delay-25 requests">
               <div class="card-body">
                  <p class="lead text-bold"><i class="fa fa-hand-o-up">&nbsp;</i>
                     <span>Requests</span>
                  </p>Manage your requests and incoming requests.</div>
            </div>
         </a>
      </div>
      <div class="col-md-4">
         <a href="#/app/requests/archived">
            <div md-ink-ripple="md-ink-ripple" class="card animated fadeInDown anim-delay-30 archived">
               <div class="card-body">
                  <p class="lead text-bold"><i class="fa fa-archive">&nbsp;</i>
                     <span>Archived requests</span>
                  </p>See all archived requests.</div>
            </div>
         </a>
      </div>
   </div>
</div>