h3 Contact
  //small Some description about contact...

.row
    .col-lg-2
        span
    .col-lg-8(style="text-align: center;")
        h2 In case you need support, please contact us at:
        h3
            a(href="mailto:contact@letswapgames.com") contact@letswapgames.com
        br
        h1(style="color: #ccc; font-size: 80px;")
            em.fa.fa-envelope
    .col-lg-2
        span
