<div class="media">
   <div class="media-left media-middle">
      <a href="#">
         <img ng-src="{{user.picture}}" alt="{{user.name}}" class="media-object img-circle img-thumbnail thumb48" />
      </a>
   </div>
   <div style="width: auto;" class="media-body pt-sm">
      <div class="text-bold">{{ user.name }}&nbsp;&nbsp;
         <user-ratings user="user"></user-ratings>
         <div class="text-sm text-muted">
            <span ng-if="distance">{{ distance }}km far</span>
            <span ng-if="!distance">{{ user.address.distance }}km far</span>
         </div>
      </div>
   </div>
</div>