a.list-group-item(href='javascript:;' ng-repeat="feedback in latestfeedbacks")
    .media-box
        .pull-left
            img.media-box-object.img-circle.thumb32(ng-src="{{ feedback.user.picture }}", alt="{{ feedback.user.name }}")
        .media-box-body.clearfix
            small.pull-right {{ feedback.closed_at_since }}
            strong.media-box-heading.text-primary
                span.circle.circle-success.circle-lg.text-left(ng-if="feedback.feedback == 1")
                span.circle.circle-lg.text-left(ng-if="feedback.feedback == 0")
                span.circle.circle-danger.circle-lg.text-left(ng-if="feedback.feedback == -1")
                | {{ feedback.user.name }}
            p.mb-sm: small {{ feedback.notes }}
