.media
    .media-left.media-middle
        a(href='javascript:;' ng-click="showUserFeedback(user, onfeedbackclose)" ng-if="!hidefeedback")
            img.media-object.img-circle.img-thumbnail.thumb48(ng-src="{{user.picture}}", alt='{{user.name}}')
        img.media-object.img-circle.img-thumbnail.thumb48(ng-src="{{user.picture}}", alt='{{user.name}}' ng-if="hidefeedback")
        md-tooltip(md-direction="top") Show {{ user.name }}'s recent feedback
    .media-body.pt-sm(style="width: auto;")
        .text-bold
            span(style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100px; display: inline-block;") {{ user.name }}&nbsp;&nbsp;
            span(style="display: inline-block; vertical-align: top;")
                a(href='javascript:;' ng-click="showUserFeedback(user, onfeedbackclose)" ng-if="!hidefeedback")
                    user-ratings(user="user")
                    //md-tooltip(md-direction="top") Positive: {{ user.positive_feedback_count }}  |  Neutral: {{ user.neutral_feedback_count }}  |  Negative: {{ user.negative_feedback_count }}
                span(ng-if="hidefeedback")
                    user-ratings(user="user")
                md-tooltip(md-direction="top") Positive: {{ user.positive_feedback_count }}  |  Neutral: {{ user.neutral_feedback_count }}  |  Negative: {{ user.negative_feedback_count }}
            .text-sm.text-muted
                //a(href="javascript:;" ng-click="showUserFeedback(user, onfeedbackclose)" ng-if="!hidefeedback")
                //    em.fa.fa-comments-o
                //    md-tooltip(md-direction="top") {{ user.name }}'s recent feedback
                //span(ng-if="!hidefeedback") &nbsp;&nbsp;
                span(ng-if="distance") {{ distance }} away
                span(ng-if="!distance") {{ user.address.distance_display }} away
