// top navbar
header.topnavbar-wrapper(ng-include="viewPath('partials/top-navbar.html')")

// sidebar
aside.aside(ng-include="viewPath('partials/sidebar.html')", ng-controller="SidebarController")

// offsidebar
aside.offsidebar(ng-include="viewPath('partials/offsidebar.html')")

// Main section
section

  // Page content
  .content-wrapper(ui-view="", autoscroll="false", ng-class="app.viewAnimation")

// Page footer
footer(ng-include="viewPath('partials/footer.html')")
