.md-welcome
    .md-welcome-msg
        .container.container-md
            h1.animated.fadeInDown.anim-delay-10 Let'SwapGames
            h2.animated.fadeInLeft.anim-delay-15 FREE FOR LIFE, FOR GAMERS BY GAMERS

.container.container-md(ng-controller="WelcomeCtrl as ctrl")
    .row.md-welcome-row
        .col-md-4
            a(href="#/app/dashboard")
                .card.animated.fadeInDown.anim-delay-20.dashboard(md-ink-ripple)
                    .card-body
                        p.lead.text-bold
                            i.icon-graph &nbsp;
                            span Dashboard
                        | See general info and statistics about your games, matches and requests.
        .col-md-4.profile-col
            a(href="#/app/profile" ng-click="ctrl.tour.end()")
                .card.animated.fadeInDown.anim-delay-15.profile(md-ink-ripple)
                    .card-body
                        p.lead.text-bold
                            i.icon-user &nbsp;
                            span Profile
                        | Change your personal details, address and determine the consoles you have.
        .col-md-4
            a(href="#/app/games")
                .card.animated.fadeInDown.anim-delay-10.games(md-ink-ripple)
                    .card-body
                        p.lead.text-bold
                            i.icon-game-controller &nbsp;
                            span Games
                        | Manage your games collection and your wish list.

    .row.md-welcome-row
        .col-md-4
            a(href="#/app/matches")
                .card.animated.fadeInDown.anim-delay-5.matches(md-ink-ripple)
                    .card-body
                        p.lead.text-bold
                            i.icon-people &nbsp;
                            span Matches
                        | See all matches.
        .col-md-4
            a(href="#/app/requests")
                .card.animated.fadeInDown.anim-delay-10.requests(md-ink-ripple)
                    .card-body
                        p.lead.text-bold
                            i.fa.fa-hand-o-up &nbsp;
                            span Requests
                        | Manage your requests and incoming requests.
        .col-md-4
            a(href="#/app/requests/archived")
                .card.animated.fadeInDown.anim-delay-20.archived(md-ink-ripple)
                    .card-body
                        p.lead.text-bold
                            i.fa.fa-archive &nbsp;
                            span Archived requests
                        | See all archived requests.

    .row.md-welcome-row
        .col-md-4
            a(href="#/app/invite")
                .card.animated.fadeInDown.anim-delay-10.invite(md-ink-ripple)
                    .card-body
                        p.lead.text-bold
                            i.fa.fa-group &nbsp;
                            span Invite
                        | Invite people to join our community. The more people in, the better chances of matches for swapping for everybody.
        .col-md-4
            a(href="#/app/contact")
                .card.animated.fadeInDown.anim-delay-20.contact(md-ink-ripple)
                    .card-body
                        p.lead.text-bold
                            i.fa.fa-envelope-o &nbsp;
                            span Contact
                        | If have any issues or suggestions, feel free to contact us.
