{% extends "base.html" %}
{% load staticfiles %}

{% block container %}
    <!-- Coming Soon -->
    <div class="coming-soon intro">
    </div>
    <div class="overlay"></div>
    <div class="coming-soon relative-container">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>
                            CONGRATULATIONS!
                        </h2>
                        <p>
                            You'll be the first to known when it's launched.
                        </p>
                        <p>
                            Know someone who might enjoy this? <br>
                            Spread the word and help our community grow. <br>
                            The bigger our community, the bigger the variety of games to swap.
                        </p>
                        <h3>
                            <span class="st_facebook_large" displayText="Facebook"></span>
                            <span class="st_twitter_large" displayText="Tweet"></span>
                            <span class="st_googleplus_large" displayText="Google +"></span>
                            <span class="st_whatsapp_large" displayText="WhatsApp"></span>
                            <span class="st_email_large" displayText="Email"></span>
                            <span class="st_sharethis_large" displayText="ShareThis"></span>
                        </h3>
                        <script>
                            //stButtons.locateElements();
                        </script>
                        <div class="timer">
                            <div class="days-wrapper" title="days">
                                <span class="days">8987</span> <br>days{# <br><i class="fa fa-group"></i> #}
                            </div>
                            <div class="hours-wrapper" title="hours">
                                <span class="hours">1298</span> <br>hours{# <br><i class="fa fa-gamepad"></i> #}
                            </div>
                            <div class="minutes-wrapper" title="minutes">
                                <span class="minutes">451</span> <br>minutes{# <br><i class="fa fa-exchange"></i> #}
                            </div>
                            <div class="seconds-wrapper" title="seconds">
                                <span class="seconds">231</span> <br>seconds{# <br><i class="fa fa-thumbs-up"></i> #}
                            </div>
                        </div>
                        <br>
                        <div>
                            <p class="white-link">
                                <a href="/">
                                    home page
                                </a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                <a href="https://www.facebook.com/letswapgames">
                                    like our facebook page
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 60px;">
                    <div class="col-sm-12">
                        <div class="logo">
                            <a href="index.html">Let'SwapGames</a>
                        </div>
                        <div class="footer-copyright">
                            <p style="margin-top: 15px;">&copy; Let'SwapGames - all rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block bottomjs %}
    <script>
        fbq('track', 'CompleteRegistration');
    </script>
{% endblock %}
