{% load staticfiles %}

<meta name="keywords" content="swap games uk,swap games ireland,swap games united kingdom,swap games isle of man,trade games uk,trade games ireland,trade games united kingdom,trade games isle of man,swap games,trade games,games trading,buy games,sell games,exchange games,swapping games,swap,trade,gamestop,cex,games,videogames,video games,ps4,ps3,playstation,xbox,xbox one,xbox 360,retro games,nintendo,wii,game boy,sega,atari">
<meta name="robots" content="index,follow">
<meta name="description" content="{% block description %}Tired of your old games and looking for new ones? Check out Let'SwapGames. Here we make swapping games easy for you.{% endblock %}">
<title>{% block title %}Swap games easily! So, let's swap games? It's free for life, for gamers by gamers.{% endblock %}</title>
<meta property="og:title" content="{% block ogtitle %}Swap games easily! So, let's swap games? It's free for life, for gamers by gamers.{% endblock %}" />
<meta property="og:description" content="{% block ogdescription %}Tired of your old games and looking for new ones? Check out Let'SwapGames. Here we make swapping games easy for you.{% endblock %}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.letswapgames.com{% block ogurl %}{% endblock %}" />
<meta property="og:image" content="https://www.letswapgames.com{% block ogimage %}{% static 'img/logo-social-400x400.png' %}{% endblock %}" />
<meta property="fb:app_id" content="1638493343076740" />

<meta name="p:domain_verify" content="cff4a1f7b77b58586f37181ad56f806e"/>
<meta name="google-site-verification" content="1WTs8GWAA05wlZ3DYbRQdgoJmt0YyrzKrN3MI8h-2KI" />
<meta name="google-site-verification" content="9VZAbGplg66Gmt7yE7aj-4OJXBH-6pmwZebq6IVr9KA" />
<meta name="google-site-verification" content="rruy36spaoEfNb749fifUROwvhclJ8CtWOfaB6HcmNo" />
