{% load staticfiles %}

<meta name="keywords" content="swap games, trade games, game, swaps, trades, ps4, xbox, ps3, playstation">
<meta name="description" content="{% block description %}Let's Swap Games - Your place to swap games and meet new players.{% endblock %}">
<title>{% block title %}Let's Swap Games - Your place to swap games and meet new players{% endblock %}</title>
<meta property="og:title" content="{% block ogtitle %}Let's Swap Games - Your place to swap games and meet new players{% endblock %}" />
<meta property="og:description" content="{% block ogdescription %}Let's Swap Games - Your place to swap games and meet new players.{% endblock %}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.letswapgames.com{% block ogurl %}{% endblock %}" />
<meta property="og:image" content="http://www.letswapgames.com{% block ogimage %}{% static 'img/logo.jpg' %}{% endblock %}" />
